[2020-08-20 09:59] jiazhai opened #1 "2020-8-23: Pulsar CN Community Meeting Agenda"
This is our first Pulsar CN Community Meeting, welcome for your joining.

 - If you want to add yourself to the "Attendees" list below;
 - If you want to discuss any [Pulsar features-PPP](https://github.com/apache/pulsar/wiki) or community [issues](https://github.com/apache/pulsar/issues) and [PRs](https://github.com/apache/pulsar/pulls);
 - If you have any suggestions for this meeting.

Please fe

[2020-08-21 03:04] tuhaihe commented on #1
+1 👍

[2020-08-26 07:09] xujianhai666 commented on #1
+1

[2020-08-26 10:17] kuangye098 commented on #1
+1

[2020-08-26 12:33] jiazhai commented on #1
[ApachePulsar-cn-community-jia.pdf](https://github.com/streamnative/pulsar-community-loc-cn/files/5129829/ApachePulsar-cn-community-jia.pdf)

[2020-09-03 03:33] tuhaihe opened #2 "2020-9-9: Pulsar CN Community Meeting Minutes"
This is our Pulsar CN Community Meeting, welcome for your joining.

Please feel free to comment on this issue：
 - If you want to add yourself to the "Attendees" list below;
 - If you want to discuss any [Pulsar features-PIP](https://github.com/apache/pulsar/wiki) or community [issues](https://github.com/apache/pulsar/issues) and [PRs](https://github.com/apache/pulsar/pulls);
 - If you have any sug

[2020-09-03 03:41] tuhaihe commented on #2
👍 +1

[2020-09-07 03:29] Technoboy- commented on #2
Join. 😀

[2020-09-07 03:53] dzndxd commented on #2
Very happy to join😄

[2020-09-07 03:54] maoge commented on #2
glad to join

[2020-09-07 08:52] Liuzilin-JS commented on #2
Join~

[2020-09-07 09:09] kamisangk commented on #2
wow

[2020-09-08 11:32] nanyangma commented on #2
nice~

[2020-09-09 03:33] STTianXiang commented on #2
nice +10086

[2020-09-09 03:38] bin-albin commented on #2
join

[2020-09-09 05:54] STTianXiang commented on #2
join

[2020-09-09 06:44] MasterYiDragon commented on #2
nice

[2020-09-09 07:15] bash-horatio commented on #2
glad to join

[2020-09-09 08:05] jiazhai commented on #2
If you have any [Pulsar features-PIP](https://github.com/apache/pulsar/wiki) or community [issues](https://github.com/apache/pulsar/issues) and [PRs](https://github.com/apache/pulsar/pulls) want to discuss, welcome to left comments on this issue. :)

[2020-09-09 08:18] MasterYiDragon commented on #2
Whether have  Pulsar performance test cases and  report ? and whether have the report is compared with the Kafka performance like throughput and latency ?

[2020-09-11 04:10] tuhaihe commented on #2
Now the meeting notes coming!

Recording：https://www.bilibili.com/video/bv1Dt4y1S7Bp

Key points:
- [0:00- 07:00] Pulsar Weekly Updates（https://mp.weixin.qq.com/s/SD6K98lOLKzHMT6TmhbbkA）
- [07:26- 09:20 Topic Policy Progress（https://github.com/apache/pulsar/issues/2688）
- [09:30-23:35] About the article (https://www.infoq.cn/article/9KHGJkkc1Mvq0oKzRWoJ)
- [23:35-28: 10] Transaction Progress ( htt

[2020-09-16 02:07] tuhaihe opened #5 "2020-9-23: Pulsar CN Community Meeting Agenda"
This is our Pulsar CN Community Meeting, welcome for your joining.

Please feel free to comment on this issue：
 - If you want to join our meeting, just leave comments on this issue;
 - If you want to discuss any [Pulsar features-PIP](https://github.com/apache/pulsar/wiki) or community [issues](https://github.com/apache/pulsar/issues) and [PRs](https://github.com/apache/pulsar/pulls);
 - If you hav

[2020-09-16 02:08] tuhaihe commented on #5
+1

[2020-09-21 07:05] hangc0276 commented on #5
+1

[2020-09-21 09:33] aloyszhang commented on #5
pulsar 如果要实现分钟级别的数据对账，有什么比较好的实现方式吗

[2020-09-21 09:33] JasperGemini opened #6 "Pulsar CN Community Meeting"
This is our Pulsar CN Community Meeting, welcome for your joining.

Please feel free to comment on this issue：
 - If you want to join our meeting, just leave comments on this issue;
 - If you want to discuss any [Pulsar features-PIP](https://github.com/apache/pulsar/wiki) or community [issues](https://github.com/apache/pulsar/issues) and [PRs](https://github.com/apache/pulsar/pulls);
 - If you hav

[2020-09-21 09:34] JasperGemini commented on #6
1. pulsar元数据初始化脚本、bookkeeper初始化脚本在整个集群中，是否只需要在任意节点上运行一次就行？两个初始化脚本重复运行会不会将已有的信息删掉？ 例如启动了几个节点后，下一个节点运行了元数据初始化脚本，会导致前几个节点掉线，需要重新启动？  每个节点都带有初始化脚本，能否限制第二次运行，或者如何检测初始化脚本已经运行过？  对于已经误操作多次运行了初始化脚本，能否恢复被冲掉原集群数据？
2. 源码编译环境中，WindowFunctionExecutor类对org.apache.pulsar.functions.api.*的引用，可否改成具体类引用?  编译时会报 Record类与另一个Record类方法接口都一样，导致编译失败；源码中涉及的java-instance.jar ，没有获取方式，该jar会导致源码工程构建失败，另外源码中100多个模块中，能否提供个只编译核心部

[2020-09-21 09:34] #6 closed

[2020-09-21 12:13] JasperGemini commented on #5
1. pulsar元数据初始化脚本、bookkeeper初始化脚本在整个集群中，是否只需要在任意节点上运行一次就行？两个初始化脚本重复运行会不会将已有的信息删掉？ 例如启动了几个节点后，下一个节点运行了元数据初始化脚本，会导致前几个节点掉线，需要重新启动？  每个节点都带有初始化脚本，能否限制第二次运行，或者如何检测初始化脚本已经运行过？  对于已经误操作多次运行了初始化脚本，能否恢复被冲掉原集群数据？
2. 源码编译环境中，WindowFunctionExecutor类对org.apache.pulsar.functions.api.*的引用，可否改成具体类引用?  编译时会报 Record类与另一个Record类方法接口都一样，导致编译失败；源码中涉及的java-instance.jar ，没有获取方式，该jar会导致源码工程构建失败，另外源码中100多个模块中，能否提供个只编译核心部

[2020-09-23 02:18] Renkai commented on #5
+1

[2020-09-23 05:40] jack-tristan commented on #5
1、灾备模式，关于单向复制切换方向时的数据问题
问题： 主集群A 与 备集群B 之间网络先断开（主机还在生产数据，这部分数据Data没有同步），然后主集群A失联，并切换到备集群B提供服务；
过一段时间集群A恢复，此时集群A变为备集群，集群B变为主集群，配置B向A单向复制，问发生故障前A比B多的那部分数据怎么处理？

2、消息清理问题
问题：一个测试的命名空间的策略是将数据进行了永久存储，我要彻底删除此命名空间的所有数据及元数据，该如何处理？（更改命名空间策略把保留策略设为1s？）

3、更改集群配置文件时，该如何处理？
问题：搭建好的集群，我要更改bookkeeper集群的配置文件，如更改ledgerDirectories或journalDirectories，不能启动。这类问题怎样更改？

[2020-09-23 12:08] jiazhai commented on #5
2 weeks update:
https://mp.weixin.qq.com/s/q69fxqQ9KebWEEBfp68czQ
https://mp.weixin.qq.com/s/piEF6aV-jTgPTfuFxU2Ilw

[2020-09-23 12:17] jiazhai commented on #5
b 站关于 geo-replication的视频
https://www.bilibili.com/video/BV1T741147B6?p=4

[2020-09-24 01:30] zymap commented on #5
issue 欢迎大家贡献：
* Docker 里设置 Pulsar 的 log level https://github.com/apache/pulsar/issues/7838
* byte 数组反序列化被解析成 string https://github.com/apache/pulsar/issues/7657
* python client Schema 不给 boolean 类型复制报错 https://github.com/apache/pulsar/issues/7673
* 用 Log topic 发送 function log 信息 https://github.com/apache/pulsar/issues/7814
* DB2 Connector 支持 https://github.com/apache/pulsar/issues/7837
* Perf 支持 A

[2020-09-24 02:16] hangc0276 commented on #5
python client Schema 不给 boolean 类型复制报错 apache/pulsar#7673
I will fix this issue @zymap

[2020-09-24 02:25] hangc0276 commented on #5
byte 数组反序列化被解析成 string apache/pulsar#7657
@zymap I will try to fix this issue

[2020-09-24 02:32] jianyun8023 commented on #5
用 Log topic 发送 function log 信息 apache/pulsar#7814
@zymap 我可以修复这个问题

[2020-09-24 02:41] hangc0276 commented on #5
Perf 支持 AVRO apache/pulsar#7441
@zymap I will try to fix this issue

[2020-09-24 15:48] JipeiWang commented on #5
会议回放链接：https://www.bilibili.com/video/BV12T4y1A7nb
本次会议摘要：
1. 1:20~8:10 介绍 Pulsar 最近更新，预告：

- transaction 试用版可能在十一之前release
- Benchmark：第一版文稿近期发出
- Pulsar 2.6.2 即将开始 release

2. 9:04~16:00 issue 欢迎大家贡献：

- Docker 里设置 Pulsar 的 log level apache/pulsar#7838
- byte 数组反序列化被解析成 string apache/pulsar#7657
- python client Schema 不给 boolean 类型复制报错 apache/pulsar#7673
- 用 Log topic 发送 function log 信息 apache/p

[2020-10-15 03:19] tuhaihe opened #7 "2020-10-21: Pulsar CN Community Meeting Agenda"
This is our Pulsar CN Community Meeting, welcome for your joining.

Please feel free to comment on this issue：
 - If you want to join our meeting, just leave comments on this issue;
 - If you want to discuss any [Pulsar features-PIP](https://github.com/apache/pulsar/wiki) or community [issues](https://github.com/apache/pulsar/issues) and [PRs](https://github.com/apache/pulsar/pulls);
 - If you hav

[2020-10-19 09:35] tuhaihe commented on #7
+1

[2020-10-19 09:36] jiazhai commented on #7
+1

[2020-10-20 05:34] JinyLeeChina commented on #7
+1

[2020-12-15 19:13] JipeiWang opened #10 "2020-12-23: Pulsar CN Community Meeting"
# 中文社区开发者会议
中文社区开发者会议旨在：
-    由大家提出对 Pulsar 技术功能、周边生态的想法和建议，和贡献者们共同讨论。相信大家会遇到有相似想法的志同道合小伙伴，促进交流的同时大家一起来完善 Pulsar；
-    由大家提出对社区建设的新点子，让我们一起讨论，不断完善出一个最优的落地版本、建设更美好的社区环境；
-    大家在使用 Pulsar 的过程中有何痛点？我们一起在会上交流，集思广益共同提出解决方案。

**⚠️日常的遇到问题还是建议在Pulsar交流群里交流哦，交流群更可以保证操作问题得到及时的解决。**

# Leave Your Ideas☟
Pulsar 的建设离不开大家的集思广益。

不论是关于技术功能还是社区建设、不论是多么天马行空的想法，都欢迎大家积极踊跃写在下面的文档里：**https://docs.qq.com/sheet/DUkVwcU

[2020-12-22 09:07] yuehuaxw commented on #10
建议增加 PHP Client

[2020-12-29 02:33] tuhaihe opened #12 "Pulsar 职位广场 | 2020-12(已推送)"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交Issue，包括如下信息：
- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 2020 年 12 月职位广场信息汇总，已正式推送。

---

## 京东：Java高级研发工程师/架构师

简历可以直接发邮箱: lihongying23@jd.com
简历筛选通过后我会安排面试官直接电话给你，HC 坑位多，欢迎技术人加入，一起成长。

工作职责

1.负责京东金融产品的后台业务研发；
2.负责在线高并发大流量系统设计及编码实现。

职位要求

1.计算机及相关专业本科及以上学历，3 年以上 Java 开发经验；
2.熟练使用主流开源框架，如 Spring Boot、Spri

[2020-12-29 02:37] tuhaihe opened #13 "Pulsar 职位广场 | 2021-01(征集中)"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 2021 年1 月职位广场信息收集帖，请在本 Issue 下方留言。

[2021-01-07 08:13] jiazhai commented on #10
@yuehuaxw
This issue is mainly for the proposal discussion, We could provide a technical consultant for this from StreamNative side.
Currently, you could use pulsar WebSocket support.

[2021-01-07 09:27] yuehuaxw commented on #10
Thank You!

[2021-01-07 09:39] yuehuaxw commented on #10
Thank You!

[2021-01-12 13:06] cx3ptr commented on #13
- 公司
伴鱼
- 工作地点
北京海淀区金澳国际大厦 18/25/26层
- 岗位职责
1.负责开发、维护公司级服务治理框架、MQ平台、配置中心等；
2.负责稳定性工作建设，开发、维护稳定性平台，保障业务系统、基础服务、框架的稳定性；
3.负责第三方开源组件的调研、二次开发和落地工作，如service mesh技术(Istio、Envoy或Linkerd)等。
- 任职要求
1.熟练掌握C++/Java/Go/Rust等至少一种编程语言，有良好的算法和数据结构基础；
2.熟悉服务治理、中间件(mycat、kingshard、gaea、codis)、MQ(kafka、pulsar、nsq)、kv存储(redis、rocksdb、etcd)等；
3.良好的责任心和自驱性，优秀的问题发现和解决能力，良好的沟通和团队协作能力；
4.特别优秀者可不受上述经验限制。
- 加分项
1.有大型高并发项目架

[2021-01-14 02:03] tuhaihe commented on #13
Vivo - 资深服务端开发工程师

岗位要求：
1.计算机相关专业，本科以上学历，5年及以上Java开发经验，有扎实的计算机理论基础；
2.精通Java/Scala编程语言(至少一种)，具备较强的trouble-shooting能力；
3.熟练掌握Linux常用性能分析及故障排查工具；
4.有Kafka/Pulsar应用、源代码修改、运维经验者优先；
5.具有高扩展性、高性能和分布式系统的实践经验；
6.具有高度的责任心和团队合作精神。

岗位职责：
1.负责分布式消息中间件平台建设；
2.负责引进新消息中间件技术，服务优化，源码二次开发及开源bug修复。

投递邮箱：
jiyun.zhao@vivo.com

[2021-01-22 01:30] xiaotongwang1 commented on #13
华为-消费者云平台-高级软件工程师
工作地点：深圳

岗位职责：
1、致力于打造下一代稳定、标准、安全、先进的云平台，使业务侧聚焦于自身业务开发、帮助业务研发提升研发和运维效率，把更多精力放在创造业务价值上。

岗位要求：
1、熟练掌握Java、Spring、Go等相关知识，计算机基础理论扎实，具备分布式开发基础。
2、熟悉pulsar、kafka、redis、zookeeper、etcd、各类型SQL等优先。
3、熟悉Docker、Kubernetes、ServiceMesh等技术，有云原生相关开源项目经验或产品落地经验者优先。

简历投递方式
xiaotong.wang@huawei.com

[2021-01-22 07:01] huangxiaobing1987 commented on #13
StreamNative-工程效率研发工程师（Engineer Efficiency）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
1.负责效率工程与质量领域相关的平台开发、维护和优化工作；
2.用高质量的设计和代码打造研发效能工具链和服务化平台；
3.以产品的心态，精雕细琢打磨平台，提升用户体验和平台稳定性。

岗位要求：
扎实的开发功底，熟练掌握常见的数据结构和算法，至少掌握Linux下Java/Go/C++/Python中至少一种语言；
熟悉网络编程、并发编程等技术；
了解常见的分布式系统架构

简历投递邮箱：cn_recruiting@streamnative.io

[2021-01-22 07:04] huangxiaobing1987 commented on #13
StreamNative-SRE工程师（Cloud可靠性工程师）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
1. 负责StreamNativeCloud的可用性，性能，监控，紧急响应和容量的规划；
2. 保证Cloud产品平稳地运行，包括：可用性改进、监控、故障发现、故障应急、演练等技术风险领域的功能研发。
3. 负责运维自动化的建设，实现代码构建及业务部署的自动化。

岗位要求：
1. 扎实的开发功底，熟练掌握常见的数据结构和算法，至少掌握Linux下Java/Go/C++/Python中至少一种语言；
2. 本科以上学历，计算机相关专业，3年以上软件研发经验；
3. 深入理解Linux系统、运维体系结构、精通容量规划、架构设计以及性能优化；
4. 熟悉Kubernetes架构和原理，有大规模app或db集群实战运维经验；
5. 熟练掌

[2021-01-26 12:22] tuhaihe opened #14 "Pulsar 职位广场 | 2021-02(征集中)"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 2021 年2 月职位广场信息收集帖，请在本 Issue 下方留言。

[2021-02-03 01:31] hangc0276 commented on #14
公司-岗位名称
BIGO

工作地点
广州/北京

团队介绍：
BIGO大数据团队专注于在PB级别数据上实现快速迭代，用大数据分析技术赋能上层业务。具体负责面向公司所有业务建设EB级别的分布式文件存储、日均万亿消息队列和50PB规模的大数据计算，包括批、流、MPP等多种计算架构，涵盖从数据定义、通道、存储与计算、数据仓库和BI等全链路技术栈。团队技术氛围浓厚，有众多开源软件的开发者，期待优秀的人才加入我们！

岗位职责：
1. 构建支撑日均万亿规模的消息流服务系统，为海量数据及其上的大规模数据挖掘、机器学习业务系统提供可靠、高效的支持
2.进行Pulsar存储与服务技术栈的源码研究、二次开发，解决实际业务中的问题与挑战；

岗位要求：
1.计算机或相关专业本科及以上学历，熟悉Java/Scala/C++/Go等开发语言，2年以上工作经验。
2. 熟悉Kafka或者Pulsar源码，有扎实的

[2021-02-03 02:06] cherrizj commented on #14
负责腾讯广告数据发布系统建设；

[2021-02-03 02:06] cherrizj commented on #14
腾讯广告数据发布系统工程师（深圳）

[2021-02-03 06:25] cherrizj commented on #14
腾讯广告数据发布系统工程师（深圳）

主要职责：负责腾讯广告数据发布订阅系统建设、广告策略数据实时通道建设、广告数据仓库建设；

岗位要求：
1. 熟练掌握C++/python/go/java中一种以上编程语言；
2. 熟悉Linux操作系统，有大型分布式系统后台工程开发经验；
3. 有Databus/Kafka/Pulsar/CockroachDB/TiDB/Mysql经验的优先考虑；
4. 思维清晰，负责进取，耐心细致，沟通能力强；

联系方式：cherri_zj（wechat）13215373（qq）

[2021-02-20 07:58] huangxiaobing1987 commented on #14
StreamNative-销售总监
工作地点：Anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
构建ApachePulsar和StreamNative在大企业的知名度；
积极寻找、发现和发展销售渠道；制定和执行“gotomarket”计划；
创建强健、高效的客户关系，促进销售的增长；
构建和维护现有的合作伙伴关系；

岗位要求：
5年以上IT领域销售工作经验；有面向开发者和决策者的销售经验；
在消息系统、大数据、数据库或开源软件领域有丰富的销售经验;
出众的沟通表达能力、抗压能力、管理能力，具有敬业精神及团队合作意识；

简历投递邮箱：cn_recruiting@streamnative.io

[2021-02-20 07:58] huangxiaobing1987 commented on #14
StreamNative-Cloud Product Engineer
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、构建和维护基于ApachePulsar的企业级云原生流数据服务。
利用Kubernetes等容器编排工具，帮助在客户的云环境中提供PulsarasaService的云产品。
与产品和工程团队协作，共同完善产品，满足新的产品需求，不断提升产品质量和竞争力。
设计和开发自动化平台，实现运维工作的自动化/工具化/流程化。
编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
了解各种常见网络协议原理和虚拟化技术；
有使用容器、云原生和微服务架构的生产实践经验；
有使用容器编排技术的经验，熟练使用Kubernetes的优先考虑；
有Puppet，Ansib

[2021-02-23 07:46] dragonls commented on #14
WXG-大数据后台开发工程师

工作地点：深圳/广州

岗位职责：
负责微信大数据平台建设和运营;
负责资源调度系统（自研和 k8s）的研发和运营;
负责分布式计算/实时计算框架（如 tensorflow、flink、spark、pulsar 等）的研发和运营;

岗位要求：
熟悉 Linux 开发;
熟悉 Java、Go、C/C++ 等一门或多门语言;
对 MR/Spark/Flink/Tensorflow/Pulsar 等大数据/AI技术栈有强烈兴趣;
学习能力好，有责任感，关注大数据前沿技术，有良好团队合作意识;
熟悉 YARN/kubernetes(k8s) 等调度系统者优先;
熟悉 k8s-operator、CRD、CNI、CSI 等组件/插件工作原理，能针对特定的业务场景进行二次开发者优先;
有 Kubernetes(K8S) 等云原生领域相关经验者优先;

简历投递方式：sh

[2021-02-23 09:20] stalary commented on #14
网易有道-大数据开发工程师

工作地点：北京

职位描述
1. 负责有道精品课数据中台相关数仓建设
2. 为教育场景下的各业务提供实时大数据支撑能力
3. 负责大数据平台/用户画像/实时业务数据流开发

职位要求
1. 具有2年以上大数据开发经验，计算机或相关专业本科以上学历（或具备同等水平的实践经验）
2. 熟练使用Java编程语言，能够完成独立系统的开发。
3. 熟悉Doris、Hive、Kafka、Flink、Pulsar等大数据相关技术栈，知晓底层原理和实现。
4. 工作能力强，具有良好的沟通（书面和口头）能力。
5. 有教育行业技术经历或者大厂工作经验优先。

简历投递方式：stalary@163.com

[2021-02-24 03:12] tuhaihe opened #15 "Pulsar 职位广场 | 2021-03(征集中)"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 **2021 年 3 月**职位广场信息收集帖，请在本 Issue 下方留言。

3 月份职位广场信息将在 3 月最后一个工作周发布。

往期职位广场：
- [Pulsar 职位广场 | 2021-02(待发布)](https://github.com/streamnative/pulsar-community-loc-cn/issues/14)
- [Pulsar 职位广场 | 2021-01(已推送)](https://github.com/streamnative/pulsar-comm

[2021-02-24 13:27] xiaotongwang1 commented on #15
华为-消费者云平台-高级软件工程师
工作地点：深圳

岗位职责：
1、致力于打造下一代稳定、标准、安全、先进的云平台，使业务侧聚焦于自身业务开发、帮助业务研发提升研发和运维效率，把更多精力放在创造业务价值上。

岗位要求：
1、熟练掌握Java、Spring、Go等相关知识，计算机基础理论扎实，具备分布式开发基础。
2、熟悉pulsar、kafka、redis、zookeeper、etcd、各类型SQL等优先。
3、熟悉Docker、Kubernetes、ServiceMesh等技术，有云原生相关开源项目经验或产品落地经验者优先。

简历投递方式
xiaotong.wang@huawei.com

[2021-03-02 01:49] folgerhuang commented on #15
感易智能-大数据平台-大数据工程师
工作地点：北京
简历投递：shiyu@sensedeal.ai
微信:13501310564（备注：应聘）

岗位职责
•负责感易风眼/风觅数据中台相关数仓建设
•为金融场景下的各业务提供实时大数据支撑能力
•负责大数据平台/企业画像/实时业务数据流开发

岗位要求
•具有 2 年以上大数据开发经验，计算机或相关专业本科以上学历；
•熟练使用 Java 编程语言，能够完成独立系统的开发；
•熟悉Flink、Pulsar、Doris、Kafka 等大数据相关技术栈，知晓底层原理和实现；
•工作能力强，具有良好的沟通能力；
•有金融行业技术经历或者大厂工作经验优先。

[2021-03-02 06:33] Pangm commented on #15
职位方向：百度-云原生分布式消息队列研发专家
工作地点：北京、上海

岗位职责：
- 研发大规模分布式消息系统，探索新架构、新技术、新硬件，提供高可靠、高性能、高伸缩、低延时的消息传输服务，支持百度整个集团的搜索、推荐、广告、实时计算等业务。

岗位任职要求：
1. 具有极佳的工程实现能力，精通C/C++、Java、Python等至少一门编程语言；
2. 熟悉高并发、分布式通信、存储、开源中间件软件等相关技术优先；
2. 具有优秀的分析、解决实际问题的能力和态度，追求编写优雅的代码，从技术趋势和思路上能影响技术团队；
3. 具有优秀的团队合作能力和沟通能力，抗压能力强，有较强的自我驱动力。

简历投递方式：
xieweizhu@baidu.com

[2021-03-02 08:14] Tango2018cc opened #16 "Pulsar Community Document Translation Volunteer"
## Pulsar 社区文档翻译志愿者招募

Pulsar 社区的发展离不开志愿者们的辛苦付出和奉献,在此向所有志愿者们表示由衷的感谢！
为了不断壮大志愿者队伍,扩大 Pulsar 社区影响力, Pulsar 社区诚邀 Pulsar 技术爱好者加入到我们的翻译团队,自愿贡献时间和精力,在服务社区的同时,不断地提升自我。
志愿者要求:真诚,有责任感,组织纪律性强,有奉献精神。
社区翻译群成员秉承着自愿原则加入和退出；可以以个人或团体的名义加入。
下面将详细阐明翻译志愿者的工作内容,要求和享有的相关权益。

## 翻译工作内容

主要把国外 Pulsar 相关的新闻资讯、技术动态、技术论文、应用技巧、机制原理等文章翻译成中文。(本次主要为 Pulsar 技术文档的翻译 )
工作要求
 - 每人每年至少提交2篇译文,翻译的文章由翻译组负责人进行分配。
 - 具有良好的英语阅读能力,拥有一定的翻译

[2021-03-02 08:30] Tango2018cc commented on #16
## Translation checklist：
 - [ ] https://pandio.com/blog/why-the-financial-sector-is-increasingly-choosing-apache-pulsar/

[2021-03-15 01:16] tuhaihe opened #17 "2021-03-17 Pulsar CN Community Meeting Agenda"
This is our Pulsar CN Community Meeting, welcome for your joining.

Please feel free to comment on this issue：
 - If you want to join our meeting, just leave comments on this issue;
 - If you want to discuss any [Pulsar features-PIP](https://github.com/apache/pulsar/wiki) or community [issues](https://github.com/apache/pulsar/issues) and [PRs](https://github.com/apache/pulsar/pulls);
 - If you hav

[2021-03-17 09:42] dockerzhang commented on #15
职位方向：腾讯-大数据开发高级工程师-消息中间件方向
工作地点：深圳

岗位职责：
1，参与开发腾讯消息中间件服务，实现内部和云上业务需求；
2，优化系统架构，提升服务的性能和稳定性，提升研发质量和效率；

岗位要求：
1. 熟悉pulsar/kafka/hadoop/flink等大数据生态技术栈，具备海量数据开发和调优能力；
2. 熟悉Java、Scala等开发语言中的一种或几种；
3. 3年及以上大数据相关开发经验，丰富的实时或离线数据体系建设经验；
4. 熟悉linux操作系统常见的问题定位，较强的online trouble shooting能力

加分项：
1. pulsar/kafka社区活跃者，社区contributor/committer；
2. 面对复杂问题具有强烈的自驱力，从业务和技术多角度推进，达成目标；

简历投递方式：dockerzhang@tencent.com

[2021-03-22 13:47] sekaiga commented on #15
职位方向：哔哩哔哩-实时计算平台资深研发工程师
工作地点：上海

岗位职责：

1. 负责千亿级大数据底层中间件的集群稳定性保障工作，主要包括消息中间件或Flink
2. 以消息中间件+Flink为主的实时传输+计算组件为核心，承担实时平台的Infra架构设计、开发、发布和运维等工作。

岗位任职要求：

1. 本科及以上学历，3年以上大数据底层组件研发经验，或5年以上后端开发经验。
2. 具有扎实的编程功底，熟悉常用的算法和数据结构，掌握Java/Python/Scala/Golang等一种以上语言的开发能力。
3. 熟悉Linux系统， 精通一门 脚本语言(Shell/Perl/Python等)
4. 对Flink，Spark等流式计算框架有深入理解，或对Kafka、Pulsar等流式传输框架有深入了解，尤其在flink、Kafka方面有多年深耕优先；
5. 熟悉开源分布式计算/存储相

[2021-03-23 08:23] lumouren009 commented on #15
职位方向：腾讯云-消息队列技术型产品经理
工作地点：北京、上海、深圳

岗位职责：

1. 负责腾讯云消息队列产品策划工作；
2. 负责市场分析、制定产品发展策略、用户需求分析；
3. 负责设计产品原型，推动产品落地，持续运营优化，提升产品竞争力；
4. 负责产品的商业化，制定产品价格策略，配合售前团队输出产品白皮书等文档
5. 配合产品运营同事，面向行业售前和销售团队进行产品培训，扩大产品影响力，对外传递产品价值。

岗位要求 ：
1. 本科及以上学历，计算机相关专业；
2. 有开发背景，熟悉至少一种主流消息队列的架构及使用，包括 Pulsar、Kafka、RocketMQ、RabbitMQ等
3. 熟悉云计算相关产品，了解云计算行业动态；
4. 具备良好的沟通协调能力，推动团队协作，有较强的执行力；

简历投递方式：alonsolu@tencent.com

[2021-03-23 15:38] JipeiWang commented on #17
Recording: https://www.bilibili.com/video/BV1Qi4y1K7Nz

[2021-03-24 12:26] xiaopingzi commented on #15
岗位名称： 大数据运维工程师（深圳）
学历要求: 本科    工作年限: 3年以上

岗位要求：
1、 3年以上互联网运维或开发经验；
2、精通linux或unix操作系统，及系统性能调优、故障处理；
3、熟悉B/S应用结构及常用软件、TCP/IP协议，了解数据库或存储原理；
4、熟练掌握一门以上脚本语言（shell/java/python/golang等）；
5、熟悉Hadoop大数据生态圈的运维工作，包括但不限于HDFS、Spark、Kafka\Pulsar、Storm\Flink、Elasticsearch等；
6、具有大规模流式计算运维经验者优先；
7、有良好的学习能力，关注业界最新技术和动态；
8、故障排查能力，有很好的技术敏感度和风险识别能力；
9、具有强烈的责任心、良好的沟通和协调能力。

岗位职责：
1、负责在线服务的可用性和服务质量；
2、通过新技术研究及架构优化，不断降

[2021-03-31 10:38] tuhaihe opened #18 "Pulsar 职位广场 | 2021-04(征集中)"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 **2021 年 4 月**职位广场信息收集帖，请在本 Issue 下方留言。

3 月份职位广场信息将在 3 月最后一个工作周发布。

往期职位广场：
- [Pulsar 职位广场 | 2021-03(已推送)](https://github.com/streamnative/pulsar-community-loc-cn/issues/15)
- [Pulsar 职位广场 | 2021-02(已推送)](https://github.com/streamnative/pulsar-comm

[2021-04-13 11:19] JipeiWang opened #19 "2021-04: Pulsar CN Community Meeting"
## Note(Chinese)

- 想要参加本次会议的小伙伴，可以直接在 Issue 下留言
- 有需要讨论、交流的问题，也可以提前在 Issue 留言
- 腾讯会议参会：可以电脑/手机上直接打开会议链接、拉起腾讯会议应用/微信小程序入会，或者打开腾讯会议，输入上面的会议 ID入会，两种方式都可以
- 会议信息：
    - 会议主题：Pulsar 中文社区开发者与用户会议
    - 会议时间：2021/04/14 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
    - 点击链接入会，或添加至会议列表：https://meeting.tencent.com/s/C8ig20KcHjPr
    - 会议 ID：224 327 625

[2021-04-13 11:59] JasonBabylon commented on #19
Pulsar可以作为大规模长时间存储的日志分析平台么？

[2021-04-14 02:14] tuhaihe commented on #19
+1

[2021-04-22 01:45] JipeiWang commented on #19
视频回顾：https://www.bilibili.com/video/BV1X64y1m7aT

[2021-04-29 10:50] huangxiaobing1987 commented on #18
StreamNative-Platform Engineer
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
开发ApachePulsar/BookKeeper的核心组件；
打造围绕ApachePulsar/BookKeeper的生态系统；
构建ApachePulsar/BookKeeper的开发者社区，进行ApachePulsar/BookKeeper技术布道；
开发围绕ApachePulsar/BookKeeper的商业化产品。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分布式消息中间件系统（比如Kafka/RabbitMQ）的原理和实现有一定研究优先；
有大数据系统（Hadoop、HDFS、Hive、

[2021-04-29 10:51] huangxiaobing1987 commented on #18
StreamNative-Cloud Product Engineer
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、构建和维护基于ApachePulsar的企业级云原生流数据服务。
利用Kubernetes等容器编排工具，帮助在客户的云环境中提供PulsarasaService的云产品。
与产品和工程团队协作，共同完善产品，满足新的产品需求，不断提升产品质量和竞争力。
设计和开发自动化平台，实现运维工作的自动化/工具化/流程化。
编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
了解各种常见网络协议原理和虚拟化技术；
有使用容器、云原生和微服务架构的生产实践经验；
有使用容器编排技术的经验，熟练使用Kubernetes的优先考虑；
有Puppet，Ansib

[2021-05-12 11:03] wuyad commented on #18
北京东方通科技股份有限公司——中间件事业部——消息中间件开发工程师

工作地点：北京
简历投递：lizp@tongtech.com

岗位职责
1.参与公司消息中间件产品的研发，包括产品设计、开发及维护等；
2.参与公司消息中间件产品的解决方案制定。

岗位要求
1.计算机相关专业本科以上学历，5年以上JAVA开发经验；
2.熟练掌握Pulsar、kafka、RocketMQ、RabbitMQ中至少一款的架构及运行机制并可熟练使用；
3.熟悉 Docker、Kubernetes等云计算技术；
4.具有良好的团队合作能力、学习能力、沟通能力强；
5.具有消息中间件研发经验者优先；
6.具有团队管理经验者优先。

[2021-05-13 08:38] Tango2018cc opened #20 "Pulsar 职位广场 | 2021-05"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 **2021 年 5 月**职位广场信息收集帖，请在本 Issue 下方留言。

5 月份职位广场信息将在端午节假期前后推送。

往期职位广场：
- [Pulsar 职位广场 | 2021-04]（https://github.com/streamnative/pulsar-community-loc-cn/issues/18）
- [Pulsar 职位广场 | 2021-03(已推送)](https://github.com/streamnative/pulsar-community-loc

[2021-05-13 08:45] jianhaiqing commented on #18
广州视睿电子科技有限公司——大数据运维工程师
工作地点： 广州
简历投递： jianhaiqing@cvte.com
薪资： 20k-30k, 13个月以上
福利：三餐自助，零食下午茶，幼儿园，游泳池，健身房，每年2次体检，父母每年体检
1、负责和参与公司大数据基础架构平台规划，运维，监控和优化工作，保障数据平台服务的稳定性和可用性; 　　
2、研究大数据前沿技术，改进现有系统的服务和运维架构，提升系统可靠性和可运维性; 　　
3、负责和参与自动化运维系统及平台的建设; 　　
4、负责优化部门运维流程提升运维效率。

任职要求：
1、大学本科及以上学历，计算机或相关专业。
2、熟悉Hadoop生态圈各组件基本原理以及使用（包括但不限于HDFS、YARN、HBase、Kafka、Hive、ClickHouse）;
3、深入理解Linux系统，熟悉一门以上脚本语言(Shell/Perl/Pyt

[2021-05-19 07:27] JipeiWang opened #21 "2021-05-26: Pulsar CN Community Meeting"
## Note(Chinese)
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZGJkc2dKdVRtVWND)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：Pulsar 中文社区开发者与用户会议
- 会议时间：2021/05/26 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 点击链接入会，或添加至会议列表👉https://meeting.tencent.com/s/jGtxYYTggXym
- 会议 ID：744 437 990

相关资料
- 往期开发者与用户会议回顾：https://s

[2021-05-26 08:54] tuhaihe commented on #21
+1

[2021-05-27 03:33] JueShanCoder commented on #21
+++1

[2021-05-27 03:44] YouDiSN commented on #21
++++1

[2021-06-09 01:50] huangxiaobing1987 commented on #20
StreamNative-Platform Engineer（Flink方向）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
开发Apache Pulsar/Apache Flink的核心组件；
打造围绕Apache Pulsar/Apache Flink的生态系统；
构建Apache Pulsar/Apache Flink的开发者社区，进行Apache Pulsar/Apache Flink技术布道；
开发围绕Apache Pulsar/Apache Flink的商业化产品。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分布式消息中间件系统（比如Kafka/RabbitMQ）的原理和实现有一定研究优先；

[2021-06-09 01:50] huangxiaobing1987 commented on #20
StreamNative-Cloud Product Engineer
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、构建和维护基于ApachePulsar的企业级云原生流数据服务。
利用Kubernetes等容器编排工具，帮助在客户的云环境中提供PulsarasaService的云产品。
与产品和工程团队协作，共同完善产品，满足新的产品需求，不断提升产品质量和竞争力。
设计和开发自动化平台，实现运维工作的自动化/工具化/流程化。
编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
了解各种常见网络协议原理和虚拟化技术；
有使用容器、云原生和微服务架构的生产实践经验；
有使用容器编排技术的经验，熟练使用Kubernetes的优先考虑；
有Puppet，Ansib

[2021-06-10 04:30] Tango2018cc opened #22 "Pulsar 职位广场 | 2021-06(征集中)"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 **2021 年 6 月**职位广场信息收集帖，请在本 Issue 下方留言。

6 月份职位广场信息将在 6 月最后一个工作日前后推送。

往期职位广场：
- [Pulsar 职位广场 | 2021-05(征集中)](https://github.com/streamnative/pulsar-community-loc-cn/issues/20)
- [Pulsar 职位广场 | 2021-04(已推送)](https://github.com/streamnative/pulsar-co

[2021-06-11 03:25] huangxiaobing1987 commented on #22
StreamNative-Platform Engineer（Flink方向）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
开发Apache Pulsar/Apache Flink的核心组件；
打造围绕Apache Pulsar/Apache Flink的生态系统；
构建Apache Pulsar/Apache Flink的开发者社区，进行Apache Pulsar/Apache Flink技术布道；
开发围绕Apache Pulsar/Apache Flink的商业化产品。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分布式消息中间件系统（比如Kafka/RabbitMQ）的原理和实现有一定研究优先；

[2021-06-11 03:26] huangxiaobing1987 commented on #22
StreamNative-Cloud Product Engineer
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、构建和维护基于ApachePulsar的企业级云原生流数据服务。
利用Kubernetes等容器编排工具，帮助在客户的云环境中提供PulsarasaService的云产品。
与产品和工程团队协作，共同完善产品，满足新的产品需求，不断提升产品质量和竞争力。
设计和开发自动化平台，实现运维工作的自动化/工具化/流程化。
编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
了解各种常见网络协议原理和虚拟化技术；
有使用容器、云原生和微服务架构的生产实践经验；
有使用容器编排技术的经验，熟练使用Kubernetes的优先考虑；
有Puppet，Ansib

[2021-06-23 07:16] Flowermin commented on #22
公司-岗位名称：京东集团-实时计算消息队列底层研发：软件开发工程师岗
工作地点：北京四环-北辰世纪中心
岗位职责：
1、参与京东实时计算/消息中间件底层的研发和优化工作；并不断迭代及优化现有实时数据平台产品；
2、负责实时平台对外提供的SDK研发，并对用户提供技术支持；
3、负责落地及维护公司内部实时计算/消息中间件版本，适配公司业务场景；
4、有较强的自驱力，跟进社区动向，保持平台技术前瞻性；
5、负责稳定的大规模分布式消息队列，自动化的切换系统，保证平台架构高可用、稳定性特性；
岗位任职要求：
1、3-5年Java开发经验，具备扎实的程序设计基本功和学习能力；
2、熟悉实时计算/离线数据采集、传输，分布式原理，掌握NIO知识，了解实时数据分析上下游生态系统或周边相关技术, 包括但不限于Kafka、Hadoop、Yarn、Storm、Spark Streaming和Flink等相关技术；

[2021-06-23 08:25] lybuestc commented on #22
**消息中间件工程师**
消息中间件是猿辅导的重要基础设施，自从 2014 年起，团队先后经历了 RabbitMQ、Kafka、AliMQ 等多个消息中间件系统，在分布式事务、流量治理、架构解耦方面发挥了关键作用。目前我们形成了一个由几千个 Topic/Group 组成的大型消息中间件集群。

今年猿辅导基础架构团队希望提升整个系统架构的可见性、可测试、可维护性，我们做了监控平台、全链路压测等基础设施建设。同时团队也意识到消息中间件在这些能力的建设上有这举足轻重的影响。我们希望团队可以持续跟进消息中间件的先进技术方向，在消息中间件的建设上可以和业务团队进行深入合作，引领业务的技术实践，解决 10 倍扩展规模下的技术挑战，例如:

在全链路压测场景下对消息流量进行染色路由。
紧跟技术前沿，调研 Pulsar 等下一代消息中间件，设计实施方案。
秒级的消息队列监控报警、数据可视化。
稳定的大规

[2021-06-28 01:30] JipeiWang opened #23 "2021-06-30: Pulsar CN Community Meeting"
## Note(Chinese)
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZGZ3dXh3T3lXZmNG)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：Pulsar 中文社区开发者与用户会议
- 会议时间：2021/06/30 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 点击链接入会，或添加至会议列表👉https://meeting.tencent.com/s/hWBys8e4TEgg
- 会议 ID：614 587 494

## 组织方

- StreamNative

## 相关

[2021-06-29 09:52] tuhaihe commented on #23
+1

[2021-07-02 01:38] JipeiWang commented on #23
Recap: https://www.bilibili.com/video/BV1Rq4y1s7E5
Docs: https://docs.qq.com/doc/DZGZ3dXh3T3lXZmNG

[2021-07-05 02:43] Tango2018cc opened #24 "Pulsar 职位广场 | 2021-07(征集中)"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

- 公司-岗位名称
- 工作地点
- 岗位职责
- 岗位任职要求
- 简历投递方式（邮箱优先）

本 Issue 为 **2021 年 7 月**职位广场信息收集帖，请在本 Issue 下方留言。

7 月份职位广场信息将在 7 月最后一个工作日前后推送。

往期职位广场：
- [Pulsar 职位广场 | 2021-06(停止征集)](https://github.com/streamnative/pulsar-community-loc-cn/issues/22)
- [Pulsar 职位广场 | 2021-05(停止征集)](https://github.com/streamnative/pulsar-

[2021-07-14 07:45] huangxiaobing1987 commented on #24
StreamNative-Platform Engineer（Flink方向）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
开发Apache Pulsar/Apache Flink的核心组件；
打造围绕Apache Pulsar/Apache Flink的生态系统；
构建Apache Pulsar/Apache Flink的开发者社区，进行Apache Pulsar/Apache Flink技术布道；
开发围绕Apache Pulsar/Apache Flink的商业化产品。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分布式消息中间件系统（比如Kafka/RabbitMQ）的原理和实现有一定研究优先；

[2021-07-14 07:47] huangxiaobing1987 commented on #24
StreamNative - Content Strategist(Chinese and English bilingual)

工作地点：Anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

作为内容策略师，你将与产品经理、开发/市场人员和用户等密切合作，制定 Pulsar 社区的内容策略和开发计划，用通俗易懂的语言，在社区宣传公司技术和最佳实践等，塑造 Pulsar 社区的品牌形象。

职责范围：
 深入理解受众需求和社群特点，制定有效的内容策略，提高内容的传播效果；
 策划、编写中英文用户案例、技术博客，通过内容扩大 Pulsar 及 StreamNaitive的产品的认可度和影响力；
 深入了解技术文章，挖掘、联络及维护 Pulsar 社区技术专家，共同策划、开发受欢迎的技术内容作品；
 通过收集、分析社区用户反馈，不断提升技术内容质量，帮助技术团队优化产品设计

[2021-07-21 03:02] JipeiWang opened #25 "[Translation] Pulsar Weekly 2021-07-12 ~ 2021-07-18"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1CBnCt3kjv8q8rXbhOa-QNAlWiQfcQ9y69qdftU1reRo/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次周报翻译文档链接：https://docs.google.com/document/d/1CBnCt3kjv8q8rXbhOa-QNAlWiQfcQ9

[2021-07-21 08:14] EAHITechnology commented on #25
@JipeiWang 领取2021-07-12 ~ 2021-07-18周报翻译任务

[2021-07-23 02:37] Tango2018cc opened #26 "[Translation] cookbooks-tiered-storage"

[2021-07-23 02:39] Tango2018cc opened #27 "[Translation] Doc：deploy-aws"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：deploy-aws 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/12/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-07-23 02:41] Tango2018cc opened #28 "[Translation] Doc：CLIENT-LIBRARIES-JAVA"

[2021-07-23 02:44] Tango2018cc opened #29 "[Translation] Doc：CLENT-LIBRARIES-JAVA"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：CLIENT-LIBRARIES-JAVA 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/50/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-07-23 02:50] Tango2018cc opened #30 "[Translation] Doc：client-libraries-python"

[2021-07-23 02:52] Tango2018cc opened #31 "[Translation] Doc：DEPLOY-DCOS"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：DEPLOY-DCOS 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/63/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-07-23 03:05] JueShanCoder commented on #31
Mark ~

[2021-07-23 03:08] dislazy commented on #31
mark

[2021-07-23 03:08] pisceslj commented on #29
翻译

[2021-07-23 03:12] dislazy commented on #27
mark

[2021-07-23 03:23] xxwinnie commented on #30
翻译~

[2021-07-23 03:28] Flowermin commented on #26
@Tango2018cc

[2021-07-23 03:47] EAHITechnology commented on #28
认领翻译

[2021-07-23 04:44] xxwinnie commented on #30
对于本篇文档，Crowdin中我权限所能翻译的内容都已经翻译完成，还没有部分内容为灰色，我翻不到，请查阅。
@Tango2018cc @JipeiWang

[2021-07-27 01:37] JipeiWang opened #32 "2021-07-28: Pulsar CN Community Meeting"
## Note(Chinese)
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZERoaEtaQUdPTFFk)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：Pulsar 中文社区开发者与用户会议
- 会议时间：2021/07/28 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 点击链接入会，或添加至会议列表👉https://meeting.tencent.com/s/DYzoaEXAJCCd
- 会议 ID：855 769 258

## 组织方

- StreamNative

## 相关

[2021-07-27 02:11] tuhaihe commented on #32
+1

[2021-07-27 12:46] Flowermin commented on #26
done，@Tango2018cc

[2021-07-28 01:47] Tango2018cc opened #33 "[Translation] Doc：cookbooks-retention-expiry"

[2021-07-28 01:49] Tango2018cc opened #34 "[Translation] Doc：DEPLOY-DCOS"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：DEPLOY-DCOS 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/63/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-07-28 01:50] Tango2018cc opened #35 "[Translation] Doc：FUNCTIONS-DEVELOP"

[2021-07-28 01:52] Tango2018cc opened #36 "[Translation] Doc：FUNCTIONS-RUNTIME"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：FUNCTIONS-RUNTIME 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/660/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-07-28 01:54] Tango2018cc opened #37 "[Translation] Doc：FUNCTIONS-WORKER"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：FUNCTIONS-WORKER 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/658/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-07-28 01:56] Tango2018cc opened #38 "[Translation]Doc：getting-started-clients"

[2021-07-28 03:44] JueShanCoder commented on #31
Please check it ,
https://crowdin.com/translate/apache-pulsar/63/en-zhcn?filter=basic&value=0

[2021-07-28 06:15] JipeiWang opened #39 "[Translation] Pulsar Weekly 2021-07-19 ~ 2021-07-25"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1_o2SiyxEOOTNqJzVOFH9aY1mb7WDomHLDlkNQRfc7hQ/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次周报翻译文档链接：https://docs.google.com/document/d/1_o2SiyxEOOTNqJzVOFH9aY1mb7WDom

[2021-07-28 07:59] pisceslj commented on #37
翻译

[2021-07-28 08:02] Flowermin commented on #33
@Tango2018cc

[2021-07-29 02:18] pisceslj commented on #29
已翻译完，有劳 Review @Tango2018cc

[2021-07-29 12:54] keashem commented on #35
@Tango2018cc

[2021-07-30 06:03] tuhaihe commented on #34
梓霖翻译，我已 Review 完成。

[2021-07-30 06:04] #34 closed

[2021-07-31 14:30] dislazy commented on #27
Translation completed
@Tango2018cc @JipeiWang

[2021-08-02 01:26] Tango2018cc opened #40 "Pulsar 职位广场 | 2021-08（征集中）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2021 年 8 月职位广场信息收集帖，请在本 Issue 下方留言。

8 月份职位广场信息将在 8 月最后一个工作日前后推送。

往期职位广场：
 - https://github.com/streamnative/pulsar-community-loc-cn/issues/24
- [Pulsar 职位广场 | 2021-06(已推送)](https://github.com/streamnative/pulsar-community-loc-cn/issues/22)
- [Pulsar 职位广场 | 2

[2021-08-02 01:34] #25 closed

[2021-08-02 02:00] Flowermin commented on #33
@Tango2018cc Done

[2021-08-02 08:46] #27 closed

[2021-08-02 09:51] JipeiWang opened #41 "2021-08-25: Pulsar CN Community Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：8 月 Pulsar 中文社区开发者与用户会议
- 会议时间：2021/08/25 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 点击链接入会，或添加至会议列表：
https://meeting.tencent.com/s/4inl2K6iR52B
- 会议 ID：673 468 063

## 组织方

- StreamNative

## 相关资料
- 往期开发者与用户会议回顾：https://space.bilibili.com/391380821/channel/detail?cid=159886

[2021-08-02 15:30] JipeiWang commented on #32
Video recording: https://www.bilibili.com/video/BV12X4y1c7H4
Q&A docs: https://docs.qq.com/doc/DZERoaEtaQUdPTFFk

[2021-08-03 03:56] huangxiaobing1987 commented on #40
StreamNative-Platform Engineer（Flink方向）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
开发Apache Pulsar/Apache Flink的核心组件；
打造围绕Apache Pulsar/Apache Flink的生态系统；
构建Apache Pulsar/Apache Flink的开发者社区，进行Apache Pulsar/Apache Flink技术布道；
开发围绕Apache Pulsar/Apache Flink的商业化产品。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分布式消息中间件系统（比如Kafka/RabbitMQ）的原理和实现有一定研究优先；

[2021-08-03 03:58] huangxiaobing1987 commented on #40
StreamNative - Solution Engineer（售前方案工程师)
工作地点：北京

岗位职责：
支持销售经理与客户进行需求沟通，技术类交流，并根据需求搭建产品演示、设计并讲解 Pulsar 的解决方案、编写相关文档等
参与并完成 POC 阶段的技术交流、实施部署、文档编写及总结汇报等工作，确保技术层面可以满足客户的预期
负责客户的技术支持工作，包括 Pulsar 的部署、升级、配置变更、生态组件（Function/Connector 等）等的使用方式介绍、原理讲解、最佳实践、故障定位分析等
理解客户的产品功能需求或 Bug 的反馈，与研发团队、文档团队等协同推进相关产品的优化升级
根据日常的技术支持工作，撰写知识库文章，定期为团队分享相关经验

任职要求：
本科以上学历，计算机专业有加分，3年以上工作经验，有云产品服务经验的有加分
有良好的学习和研究能力，面对一个新产品或

[2021-08-03 04:46] Tango2018cc opened #42 "[Translation] Doc:getting-started-docker"

[2021-08-03 04:48] Tango2018cc opened #43 "[Translation] Doc：io-cdc-debezium"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：io-cdc-debezium 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/566/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-03 04:50] Tango2018cc opened #44 "[Translation] Doc：io-connectors"

[2021-08-03 05:05] Tango2018cc opened #45 "[Translation] Doc：io-debezium-source"

[2021-08-03 05:08] Tango2018cc opened #46 "[Translation] Doc：io-influxdb-sink"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：io-influxdb-sink 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/894/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-03 05:10] Tango2018cc opened #47 "[Translation] Doc：io-jdbc-sink"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：io-idbc-sink 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/910/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-03 05:52] duanjia85 commented on #44
认领翻译

[2021-08-03 05:53] duanjia85 commented on #42
认领翻译

[2021-08-03 05:55] dislazy commented on #38
mark

[2021-08-03 06:23] FieldChan commented on #47
+1

[2021-08-03 06:39] feiyuAcc commented on #46
翻译

[2021-08-03 10:43] feiyuAcc commented on #46
已翻译完，辛苦Review @Tango2018cc

[2021-08-07 09:03] dros6 commented on #43
认领翻译

[2021-08-09 02:12] #39 closed

[2021-08-09 03:28] FieldChan commented on #47
I've finished translation, could you please help review?

[2021-08-09 13:40] pisceslj commented on #37
已翻译完，有劳 Review @Tango2018cc

[2021-08-09 13:42] pisceslj commented on #36
认领

[2021-08-10 07:57] JipeiWang opened #48 "[Translation] Pulsar Weekly 2021-07-26 ~ 2021-08-01"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1TroXlPFBp6gH_Q9RjMfHw-EhPz8HgbmDUETWi4cwHwA/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次周报翻译文档链接：https://docs.google.com/document/d/1TroXlPFBp6gH_Q9RjMfHw-EhPz8Hgb

[2021-08-10 08:17] JipeiWang opened #49 "[Translation] Pulsar 2.7.3 Blog"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1uBbODhgS4iXM1KyDn0ErBphwjgBqcHZAUgoJVIdN7n8/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次周报翻译文档链接：https://docs.google.com/document/d/1uBbODhgS4iXM1KyDn0ErBphwjgBqcH

[2021-08-10 09:08] JueShanCoder commented on #49
mark ~

[2021-08-11 02:09] duanjia85 commented on #48
认领翻译

[2021-08-11 03:00] Tango2018cc opened #50 "[Translation] Doc: admin-api-topics"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：admin-api-topics  的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/2810/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 03:02] Tango2018cc opened #51 "[Translation] Doc: administration-geo"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：administration-geo 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/11/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 03:32] Tango2018cc opened #52 "[Translation] Doc：client-libraries-cgo"

[2021-08-11 03:34] Tango2018cc opened #53 "[Translation] Doc：admin-api-permissions"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：admin-api-permissions 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/48/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 03:39] Tango2018cc opened #54 "[Translation] Doc：client-libraries-go"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：client-libraries-go  的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/4/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 03:42] Tango2018cc opened #55 "[Translation] Doc：client-libraries-node"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：client-libraries-node 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/896/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 03:43] Tango2018cc opened #56 "[Translation] Doc：client-libraries-websocket"

[2021-08-11 03:46] Tango2018cc opened #57 "[Translation] Doc：txn-why"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：txn-why 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/5320/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 04:03] Tango2018cc opened #58 "[Translation] Doc：txn-what"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：txn-what 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/5322/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 04:04] Tango2018cc opened #59 "[Translation] Doc：txn-use"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：txn-use 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/5324/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 04:05] Tango2018cc opened #60 "[Translation] Doc：txn-how"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：txn-how 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/5326/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-11 04:23] dros6 commented on #53
认领翻译

[2021-08-11 06:14] riemannChow commented on #56
mark

[2021-08-11 06:27] Flowermin commented on #51
@Tango2018cc

[2021-08-11 06:30] safaf11 commented on #60
认领翻译

[2021-08-11 07:19] lzhpo commented on #59
mark

[2021-08-11 07:22] lzhpo commented on #58
mark

[2021-08-11 07:22] lzhpo commented on #57
mark

[2021-08-11 14:29] #43 closed

[2021-08-11 14:29] #29 closed

[2021-08-12 11:41] IOTdailinwei commented on #45
认领翻译

[2021-08-12 11:41] IOTdailinwei commented on #50
认领翻译

[2021-08-12 15:07] dislazy commented on #38
Translation completed

[2021-08-12 15:08] dislazy commented on #54
mark

[2021-08-12 15:39] #48 closed

[2021-08-12 15:47] JipeiWang opened #61 "[Translation] Pulsar Weekly 2021-08-02 ~ 2021-08-08"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1wIfzzo3TJUvONZfXVZ_caPSld1XPaB2oQFoC-Ktt4yE/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次周报翻译文档链接：https://docs.google.com/document/d/1wIfzzo3TJUvONZfXVZ_caPSld1XPaB

[2021-08-13 02:09] duanjia85 commented on #61
认领

[2021-08-15 11:42] tuhaihe commented on #57
@lzhpo 感谢高质量翻译，已 Review 完成。有问题可以在 Crowdin 中评论或者重开本 Issue 🤝。

[2021-08-15 11:42] #57 closed

[2021-08-15 13:17] tuhaihe commented on #58
@lzhpo 感谢高质量翻译，已 Review 完成，里面部分翻译留了评论，可以参考。如有问题，欢迎 Crowdin 中留言，或者重新打开该 Issue 🤝。

[2021-08-15 13:17] #58 closed

[2021-08-15 13:49] tuhaihe commented on #59
@lzhpo hi 已 Review 完，感谢贡献，修订了多个不太妥当的译法，请参考。欢迎讨论 🤝 如有问题，可随时重开该 issue。

[2021-08-15 13:49] #59 closed

[2021-08-16 03:41] dros6 commented on #52
认领翻译

[2021-08-16 08:55] tuhaihe commented on #60
@safaf11 你好，已Review完成，感谢贡献👍🏻
有些部分翻译可多注意原文格式如换行符、强调符号、序号等等，都可以保留。如有问题，可保持交流。

[2021-08-16 08:55] #60 closed

[2021-08-16 12:25] keashem commented on #35
@Tango2018cc translation is done，plz take a check

[2021-08-19 03:30] kuyusea commented on #40
大数据高级研发工程师 
工作地点：上海
岗位职责： 
        参与大数据研发平台设计，并进行相关中间件开发
        基于Apache Pulsar/Apache Flink的生态系统，设计开发流ETL和分析平台
岗位要求： 
       优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
        熟悉Java/Python/C++中至少一种语言，有扎实的编程能力； 
       熟悉分布式系统的原理和关键技术，对(Pulsar/Kafka/RabbitMQ)的原理和实现有一定研究优先；
        有分布式流处理系统系统（Spark Streaming、Flink、Storm、ksqlDB等）经验优先；
        有Docker，Kubernetes等经验优先;
       有数仓设计、熟悉Clickhouse、Doris经验优先；

善于学习

[2021-08-23 14:38] #49 closed

[2021-08-23 14:38] #61 closed

[2021-08-23 16:47] JipeiWang opened #62 "[Translation] Pulsar Weekly 2021-08-09 ~ 2021-08-15"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1BH5OozYor7ueapJbPmAMLcL8JU3yKqzfUs91P7rxLKg/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次周报翻译文档链接：https://docs.google.com/document/d/1BH5OozYor7ueapJbPmAMLcL8JU3yKq

[2021-08-24 02:58] Tango2018cc opened #63 "[Translation] Doc：security-token-admin"

[2021-08-24 03:00] Tango2018cc opened #64 "[Translation] Doc：security-tls-keystore"

[2021-08-24 03:01] Tango2018cc opened #65 "[Translation] Doc：security-kerberos"

[2021-08-24 03:08] Tango2018cc opened #66 "[Translation] Doc：schema-understand"

[2021-08-24 03:09] Tango2018cc opened #67 "[Translation] Doc：schema-get-started"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：schema-qet-started 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/770/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-08-24 03:11] Tango2018cc opened #68 "[Translation] Doc：reference-pulsar-admin"

[2021-08-25 02:54] jjnnzb commented on #62
I'd like to try, assign to me please.

[2021-08-25 13:51] jjnnzb commented on #62
Hi, I've completed the translation work, please review.

[2021-08-25 13:58] jjnnzb commented on #62
Link is [Pulsar weekly 2021-08-09~2021-08-15](https://docs.google.com/document/d/1BH5OozYor7ueapJbPmAMLcL8JU3yKqzfUs91P7rxLKg/edit#heading=h.4ifr7n3z3srs)

[2021-08-25 14:25] dros6 commented on #68
认领翻译

[2021-08-25 15:41] JipeiWang commented on #41
- Q&A 文档：https://docs.qq.com/doc/DZG5ZbFhrZmtWQ3NW
- 视频回顾：

[2021-08-31 06:10] IOTdailinwei commented on #45
误操作，remove了

[2021-08-31 06:35] baomingyu opened #69 "腾讯-大数据开发高级工程师-消息中间件方向"
岗位职责：
1，参与开发腾讯消息中间件服务，实现内部和云上业务需求；
2，优化系统架构，提升服务的性能和稳定性，提升研发质量和效率；

岗位要求：
1. 熟悉pulsar/kafka/hadoop/flink等大数据生态技术栈，具备海量数据开发和调优能力；
2. 熟悉Java、Scala等开发语言中的一种或几种；
3. 3年及以上大数据相关开发经验，丰富的实时或离线数据体系建设经验；
4. 熟悉linux操作系统常见的问题定位，较强的online trouble shooting能力

加分项：
1. pulsar/kafka社区活跃者，社区contributor/committer；
2. 面对复杂问题具有强烈的自驱力，从业务和技术多角度推进，达成目标；

联系方式：nicobao@tencent.om

[2021-08-31 06:37] baomingyu opened #70 "腾讯-大数据开发高级工程师-消息中间件方向"
岗位职责：
1，参与开发腾讯消息中间件服务，实现内部和云上业务需求；
2，优化系统架构，提升服务的性能和稳定性，提升研发质量和效率；

岗位要求：

熟悉pulsar/kafka/hadoop/flink等大数据生态技术栈，具备海量数据开发和调优能力；
熟悉Java、Scala等开发语言中的一种或几种；
3年及以上大数据相关开发经验，丰富的实时或离线数据体系建设经验；
熟悉linux操作系统常见的问题定位，较强的online trouble shooting能力
加分项：

pulsar/kafka社区活跃者，社区contributor/committer；
面对复杂问题具有强烈的自驱力，从业务和技术多角度推进，达成目标；
联系方式：nicobao@tencent.om

[2021-08-31 06:40] #70 closed

[2021-08-31 06:40] #69 closed

[2021-08-31 06:40] JipeiWang opened #71 "[Translation] Pulsar Weekly 2021-08-16 ~ 2021-08-22"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1deMRGj9LdbRjq5ePzTzwzLiZ8-aqzG2V_k3i1Iwl08Y/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次周报翻译文档链接：https://docs.google.com/document/d/1deMRGj9LdbRjq5ePzTzwzLiZ8-aqzG

[2021-08-31 06:43] baomingyu commented on #40
腾讯-大数据开发高级工程师-消息中间件方向
工作地点：北京/深圳/上海
岗位职责：
1，参与开发腾讯消息中间件服务，实现内部和云上业务需求；
2，优化系统架构，提升服务的性能和稳定性，提升研发质量和效率；

岗位要求：
1. 熟悉pulsar/kafka/hadoop/flink等大数据生态技术栈，具备海量数据开发和调优能力；
2. 熟悉Java、Scala等开发语言中的一种或几种；
3. 3年及以上大数据相关开发经验，丰富的实时或离线数据体系建设经验；
4. 熟悉linux操作系统常见的问题定位，较强的online trouble shooting能力
加分项：
1. pulsar/kafka社区活跃者，社区contributor/committer；
2. 面对复杂问题具有强烈的自驱力，从业务和技术多角度推进，达成目标；
简历投递邮箱：nicobao@tencent.com

[2021-08-31 06:53] JipeiWang opened #72 "[Translation] Blog: Scalable Stream Processing with Pulsar’s Key_Shared Subscription"
You can directly edit in this docs(template included): https://docs.google.com/document/d/1Qu82n1m_mfnMTY--sxKZ980zXYXxf3kj/edit?usp=sharing&ouid=110299836475637509637&rtpof=true&sd=true
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
感谢小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：https://docs.google.com/document

[2021-08-31 07:52] JueShanCoder commented on #72
Mark ~
Tks ~

[2021-08-31 07:53] duanjia85 commented on #72
认领

[2021-08-31 07:55] jjnnzb commented on #71
Assign to me please.

[2021-08-31 10:14] cqanyway commented on #64
认领

[2021-09-01 10:00] Tango2018cc opened #73 "Pulsar 职位广场 | 2021-09（征集中）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2021 年 9 月职位广场信息收集帖，请在本 Issue 下方留言。

9 月份职位广场信息将在 9 月最后一个工作日前后推送。

往期职位广场：
- [Pulsar 职位广场 | 2021-08(停止征集)](https://github.com/streamnative/pulsar-user-group-loc-cn/issues/40)
- [Pulsar 职位广场 | 2021-07(停止征集)](https://github.com/streamnative/pulsar-community-loc-

[2021-09-01 17:00] jjnnzb commented on #71
Hi, I've completed the translation work, please review.

[2021-09-02 02:00] KLsself commented on #65
认领

[2021-09-07 02:52] dragonls commented on #73
WXG-大数据后台开发工程师

工作地点：深圳/广州

岗位职责：
负责微信大数据平台建设和运营;
负责资源调度系统（自研和 k8s）的研发和运营;
负责分布式计算/实时计算框架（如 Tensorflow、Flink、Spark、Pulsar 等）的研发和运营;

岗位要求：
熟悉 Linux 开发;
熟悉 Java、Go、C/C++ 等一门或多门语言;
对 MR/Spark/Flink/Tensorflow/Pulsar 等大数据/AI技术栈有强烈兴趣;
学习能力好，有责任感，关注大数据前沿技术，有良好团队合作意识;
熟悉 YARN/kubernetes(k8s) 等调度系统者优先;
熟悉 k8s-operator、CRD、CNI、CSI 等组件/插件工作原理，能针对特定的业务场景进行二次开发者优先;
有 Kubernetes(K8S) 等云原生领域相关经验者优先;
熟悉 Pulsar/

[2021-09-07 06:12] #71 closed

[2021-09-08 02:51] duanjia85 commented on #42
翻译完成

[2021-09-08 02:52] duanjia85 commented on #44
翻译完成

[2021-09-08 05:30] Tango2018cc opened #74 "[Translation] Doc：reference-confiquration"

[2021-09-08 05:31] Tango2018cc opened #75 "[Translation] Doc：performance-pulsar-perf"

[2021-09-08 05:32] Tango2018cc opened #76 "[Translation] Doc：io-redis-sink"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：io-redis-sink 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/922/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-09-08 05:34] Tango2018cc opened #77 "[Translation] Doc：ion-nsa-source"

[2021-09-08 05:36] Tango2018cc opened #78 "[Translation] Doc：io-elasticsearch-sink"

[2021-09-08 06:06] punish-yh commented on #75
认领任务

[2021-09-08 07:09] BuGoNee commented on #73
taptap招人（base上海）：
要python/golang服务端/爬虫工程师/数据工程师。
要求计算机基础知识扎实，leetcode算法题能搞定medium，5年以内工作经验。
待遇方面薪资可以match大厂，主要还是看你能力。
而且朝9晚6不加班，包一日三餐。
我们要做个信息洞察/情报系统，爬虫爬来的数据需要大量分析/展示/算法/内容生产。
也就是说建立爬虫体系，搭建内部数据平台，结合taptap社区和taptap sdk获取到的独家数据可以做很多事。
所以各类人才都需要，如果你优秀可以因人设岗。scope很大，你快来吧！
如果你符合，私聊我谢谢！

[2021-09-08 07:09] BuGoNee commented on #73
taptap招人（base上海）：
要python/golang服务端/爬虫工程师/数据工程师。
要求计算机基础知识扎实，leetcode算法题能搞定medium，5年以内工作经验。
待遇方面薪资可以match大厂，主要还是看你能力。
而且朝9晚6不加班，包一日三餐。
我们要做个信息洞察/情报系统，爬虫爬来的数据需要大量分析/展示/算法/内容生产。
也就是说建立爬虫体系，搭建内部数据平台，结合taptap社区和taptap sdk获取到的独家数据可以做很多事。
所以各类人才都需要，如果你优秀可以因人设岗。scope很大，你快来吧！
如果你符合，私聊我谢谢！

简历投递至luyang[at]xd.com

[2021-09-09 10:16] dros6 commented on #78
领取翻译

[2021-09-11 15:11] EAHITechnology commented on #74
认领

[2021-09-13 05:43] tuhaihe commented on #73
貌似对 Pulsar 技能要求没有明确。

[2021-09-28 03:28] Tango2018cc commented on #36
已经完成

[2021-09-28 03:31] Tango2018cc commented on #54
完成

[2021-09-28 03:32] #36 closed

[2021-09-28 03:32] #37 closed

[2021-09-28 03:37] #47 closed

[2021-09-28 03:38] #67 closed

[2021-09-28 03:41] #53 closed

[2021-09-28 03:48] Tango2018cc opened #79 "[Translation] Doc:client-libraries-cpp"

[2021-09-28 03:50] Tango2018cc opened #80 "[Translation] Doc:administration-dashboard"

[2021-09-28 03:53] Tango2018cc opened #81 "[Translation]Doc:concepts-messagina"

[2021-09-28 06:42] JipeiWang opened #82 "2021-09-29: Pulsar CN Community Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZGxtaWJkdlpVVXJj)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：9 月 Apache Pulsar 中文社区开发者与用户组会议
- 会议时间：2021/09/29 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：
https://meeting.tencent.com/dm/8lhC0ljQNVMQ
- 会议 ID：851 499 012

## 组织方

- StreamNative

## 相关资料
- 往期开发者与用户会

[2021-09-28 06:59] dislazy commented on #76
mark

[2021-09-28 15:48] JipeiWang commented on #72
已发布，感谢大家！

[2021-09-28 15:48] #72 closed

[2021-09-29 16:25] JipeiWang commented on #82
- 视频回顾：https://www.bilibili.com/video/BV1Nq4y1Z7zJ/
- Q&A 文档：https://docs.qq.com/doc/DZGxtaWJkdlpVVXJj

[2021-09-30 11:17] Jason918 commented on #73
滴滴出行-中间件高级研发工程师/技术专家

工作地点：北京-海淀-上地

职位描述
1. 参与集团MQ/Serverless及相关产品和服务的研发
2. 服务各种业务需求，服务日益增长的业务和数据量
3. 优化系统性能，提升基础服务相关资源的使用率，增加系统稳定性，保障业务运行。
4. 跟进开源社区产品功能特性，参与开源社区沟通和开发。

任职要求
1. 计算机或相关专业本科以上学历（3年以上工作经验）;
2. 精通Java，熟悉JVM原理，精通GC且具备调优经验，熟悉常用开源分布式消息系统，精通但不限于Pulsar/RocketMQ/Kafka/Zookeeper/Rockdsdb等任意一种开源产品源代码，有社区参与经验优先。
3. 精通Go，熟悉Serverless/FaaS架构理念，熟悉Knative/Openfaas/Kubernetes/Docker/Istio/等相关开源技术。

[2021-10-08 09:24] Tango2018cc opened #83 "Pulsar 职位广场 | 2021-10（停止征集）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2021 年 10 月职位广场信息收集帖，请在本 Issue 下方留言。

10 月份职位广场信息将在 10 月最后一个工作日前后推送。

往期职位广场：

- [Pulsar 职位广场 | 2021-09(已推送)](https://github.com/streamnative/pulsar-user-group-loc-cn/issues/73)
- [Pulsar 职位广场 | 2021-08(已推送)](https://github.com/streamnative/pulsar-user-group-l

[2021-10-11 07:45] Tango2018cc commented on #83
需要提交 Pulsar 相关职位哦～，辛苦可以看下更新下内容

[2021-10-11 07:49] huangxiaobing1987 commented on #83
StreamNative-Platform Engineer（Flink方向）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
开发Apache Pulsar/Apache Flink的核心组件；
打造围绕Apache Pulsar/Apache Flink的生态系统；
构建Apache Pulsar/Apache Flink的开发者社区，进行Apache Pulsar/Apache Flink技术布道；
开发围绕Apache Pulsar/Apache Flink的商业化产品。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分布式消息中间件系统（比如Kafka/RabbitMQ）的原理和实现有一定研究优先；

[2021-10-11 07:51] huangxiaobing1987 commented on #83
StreamNative-Solution Engineer
工作地点：北京/全国

工作职责：
支持销售经理与客户进行需求沟通，技术类交流，并根据需求搭建产品演示、设计并讲解 Pulsar 的解决方案、编写相关文档等
参与并完成 POC 阶段的技术交流、实施部署、文档编写及总结汇报等工作，确保技术层面可以满足客户的预期
负责客户的技术支持工作，包括 Pulsar 的部署、升级、配置变更、生态组件（Function/Connector 等）等的使用方式介绍、原理讲解、最佳实践、故障定位分析等
理解客户的产品功能需求或 Bug 的反馈，与研发团队、文档团队等协同推进相关产品的优化升级
根据日常的技术支持工作，撰写知识库文章，定期为团队分享相关经验
任职要求：
本科以上学历，计算机专业有加分，3年以上工作经验，有云产品服务经验的有加分
有良好的学习和研究能力，面对一个新产品或者特性时，可以在较

[2021-10-12 18:02] JipeiWang opened #84 "2021-10-27: Pulsar CN Community Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZG1sblJSVUZHb3ds)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：10 月 Apache Pulsar 中文社区开发者与用户组会议
- 会议时间：2021/10/27 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：
https://meeting.tencent.com/dm/Bu8JLlFnL7gn
- 会议 ID：262 976 076

## 组织方

- StreamNative

## 相关资料
- 往期开发者与用户

[2021-10-15 02:33] dros6 commented on #77
认领翻译

[2021-10-19 02:15] Tango2018cc opened #85 "[Translation]Doc：client-libraries-java"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：Doc:client-libraries-java 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/50/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-10-19 02:17] Tango2018cc opened #86 "[Translation]Doc：deploy-bare-metal-multi-cluster"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：deploy-bare-metal-multi-cluster 的翻译
文档链接：https://crowdin.com/translate/apache-pulsar/66/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-10-19 06:24] Tango2018cc opened #87 "[Translation]Doc: deploy-dcos"

[2021-11-02 07:39] Tango2018cc opened #88 "[Translation] Doc：security-encryption"

[2021-11-02 07:44] Tango2018cc opened #89 "[Translation] Doc：deploy-bare-meta"

[2021-11-02 07:46] Tango2018cc opened #90 "[Translation] Doc：developing-binary-protocol"

[2021-11-02 07:47] dros6 commented on #89
认领翻译

[2021-11-02 07:47] Tango2018cc opened #91 "[Translation] Doc：DEVELOPING-CPP"

[2021-11-02 07:52] Tango2018cc opened #92 "[Translation] Doc：reference-configuration"

[2021-11-04 13:19] dislazy commented on #88
mark

[2021-11-08 02:39] Tango2018cc opened #93 "Pulsar 职位广场 | 2021-11（征集中）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2021 年 11 月职位广场信息收集帖，请在本 Issue 下方留言。

11 月份职位广场信息将在 11 月最后一个工作日前后推送。

往期职位广场：
- [Pulsar 职位广场 | 2021-10(停止征集)](https://github.com/streamnative/pulsar-user-group-loc-cn/issues/83)
- [Pulsar 职位广场 | 2021-09(已推送)](https://github.com/streamnative/pulsar-user-group-l

[2021-11-08 02:40] #83 closed

[2021-11-08 03:15] huangxiaobing1987 commented on #93
StreamNative-Solution Engineer
工作地点：北京/全国

工作职责：
支持销售经理与客户进行需求沟通，技术类交流，并根据需求搭建产品演示、设计并讲解 Pulsar 的解决方案、编写相关文档等
参与并完成 POC 阶段的技术交流、实施部署、文档编写及总结汇报等工作，确保技术层面可以满足客户的预期
负责客户的技术支持工作，包括 Pulsar 的部署、升级、配置变更、生态组件（Function/Connector 等）等的使用方式介绍、原理讲解、最佳实践、故障定位分析等
理解客户的产品功能需求或 Bug 的反馈，与研发团队、文档团队等协同推进相关产品的优化升级
根据日常的技术支持工作，撰写知识库文章，定期为团队分享相关经验
任职要求：
本科以上学历，计算机专业有加分，3年以上工作经验，有云产品服务经验的有加分
有良好的学习和研究能力，面对一个新产品或者特性时，可以在较

[2021-11-08 03:16] huangxiaobing1987 commented on #93
Platform Engineer（Serverless）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、开发和打造基于ApachePulsar/BookKeeper的serverless商业化产品；
设计、开发和优化Pulsar Functions/Pulsar Connectors的核心组件；
打造围绕ApachePulsar/BookKeeper的生态系统；
构建ApachePulsar/BookKeeper的开发者社区，进行ApachePulsar/BookKeeper技术布道；

编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++/Rust中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分

[2021-11-10 06:08] IOTdailinwei commented on #79
认领翻译

[2021-11-10 06:08] IOTdailinwei commented on #91
认领翻译

[2021-11-10 06:18] wanglunhui2012 commented on #63
认领翻译

[2021-11-10 06:52] dislazy commented on #90
mark

[2021-11-10 11:41] mattisonchao commented on #92
i want to work on it.

[2021-11-10 11:47] mattisonchao commented on #81
here 😻

[2021-11-11 06:59] Tango2018cc opened #94 "[Translation] Doc：sql-deployment-configurations"

[2021-11-11 07:49] Tango2018cc opened #95 "[Translation] Doc：io-kafka-source"

[2021-11-11 07:52] Tango2018cc opened #96 "[Translation] Doc：security-oauth2"

[2021-11-11 07:54] Tango2018cc opened #97 "[Translation] Doc：reference-metrics"

[2021-11-11 08:02] Tango2018cc opened #98 "[Translation]Doc：reference-cli-tools"

[2021-11-11 08:25] dislazy commented on #95
mark

[2021-11-11 08:31] mattisonchao commented on #98
here 😍

[2021-11-11 08:33] mattisonchao commented on #97
here 😍

[2021-11-11 08:33] mattisonchao commented on #96
here 😍

[2021-11-11 08:34] mattisonchao commented on #94
here 😍

[2021-11-11 09:52] JipeiWang opened #99 "[Translation] Blog: Streaming Data Pipelines with Pulsar IO"
You can directly edit in this docs: https://docs.google.com/document/d/1P_ue8uqPnET5Ikxzo5y7ID6rjqPSF0YRKm2cnBBfDLM/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：https://docs.google.com/document/d/1P_ue8uqPnET5Ikxzo5y7ID6rjqPSF0YRKm2cnBBfDLM/edit?

[2021-11-11 10:11] JipeiWang opened #100 "[Translation] Blog: Apache Pulsar: A Unified Queueing and Streaming Platform"
You can directly edit in this docs: https://docs.google.com/document/d/1F7EDEEzvT7uQOAWAXSoCkorfQ020WQwb9SE1J95PmIk/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：https://docs.google.com/document/d/1F7EDEEzvT7uQOAWAXSoCkorfQ020WQwb9SE1J95PmIk/edit?

[2021-11-11 10:20] dislazy commented on #99
mark

[2021-11-11 11:21] JueShanCoder commented on #100
mark！

[2021-11-12 02:15] Tango2018cc opened #101 "[Translation] Doc：security-jwt+security-tls-authentication"

[2021-11-16 02:58] Tango2018cc opened #102 "[Translation] Doc：部分剩余翻译1"

[2021-11-16 03:09] Tango2018cc opened #103 "[Translation] Doc：部分剩余翻译2"

[2021-11-16 03:23] pisceslj commented on #101
认领

[2021-11-17 06:40] dros6 commented on #102
认领翻译

[2021-11-18 03:53] Tango2018cc opened #104 "[Translation] Doc：tiered-storage-filesystem"
感谢小伙伴加入 Pulsar 志愿者团队！

本篇为文档：tiered-storage-filesystem 的部分翻译
文档链接：https://crowdin.com/translate/apache-pulsar/2442/en-zhcn?filter=basic&value=0

请接手任务的小伙伴在此 issue 留言并在微信群艾特我们，管理员会分配 issue，方便记录大家的贡献。

[2021-11-18 09:36] #99 closed

[2021-11-19 09:14] yangxuan74 commented on #104
您好，我第一次在咱们社区翻译，想尝试一下这篇，可以吗？

[2021-11-19 11:09] whqq1711 opened #105 "[Translation] Blog: Building Edge Applications With Apache Pulsar"
You can directly edit in this docs:
https://docs.google.com/document/d/1woAzKtAi04Fy-1hAenMqkytsI0Mcyi-uoIu-b8aTMEA/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1woAzKtAi04Fy-1hAenMqkytsI0Mcyi-uoIu-b8aTMEA/edit

[2021-11-20 09:22] whqq1711 opened #106 "[Translation] Blog: Using Apache Pulsar With Kotlin"
You can directly edit in this docs:
https://docs.google.com/document/d/1JAt_3VJmBkUASXdeuiy80SoCHlKie0XxHTAOPNSdEJY/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1JAt_3VJmBkUASXdeuiy80SoCHlKie0XxHTAOPNSdEJY/edit

[2021-11-20 11:29] whqq1711 opened #107 "[Translation] Blog: Event Streaming with Apache Pulsar and Scala"
You can directly edit in this docs:
https://docs.google.com/document/d/1lvnxwSf09H3CG_sT7Tp0IXX8_UeM947FGCD-lEmveP0/edit?usp=sharing

#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1lvnxwSf09H3CG_sT7Tp0IXX8_UeM947FGCD-lEmveP0/edit

[2021-11-22 02:05] yangxuan74 commented on #104
已翻译完成，请审核。

[2021-11-22 02:19] safaf11 commented on #103
领103

[2021-11-22 02:38] dislazy commented on #106
mark

[2021-11-22 03:39] safaf11 commented on #105
领105

[2021-11-22 07:43] whqq1711 opened #108 "[Translation] Blog: Distributed Locks with Apache Pulsar"
You can directly edit in this docs:
https://docs.google.com/document/d/1HGvw-Pw1WMnhl2XHzQ8uEYSEAnU1vtfXJxoGA4_mwac/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1HGvw-Pw1WMnhl2XHzQ8uEYSEAnU1vtfXJxoGA4_mwac/edit?

[2021-11-22 07:55] whqq1711 opened #109 "[Translation] Blog: Apache BookKeeper Insights Part 1 — External Consensus and Dynamic Membership"
You can directly edit in this docs:
https://docs.google.com/document/d/14FtNWKd5wnwBRvpcEfVKrs0mo4bdal18pj8IDx-b1ns/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/14FtNWKd5wnwBRvpcEfVKrs0mo4bdal18pj8IDx-b1ns/edit?

[2021-11-22 08:23] whqq1711 opened #110 "[Translation] Blog: Apache BookKeeper Internals — Part 1 — High Level"
You can directly edit in this docs:
https://docs.google.com/document/d/1TdOAy3tcMaOru-dPwJiK1YkwsEOzLwZ9mnNaeGmH5bg/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1TdOAy3tcMaOru-dPwJiK1YkwsEOzLwZ9mnNaeGmH5bg/edit?

[2021-11-22 08:48] whqq1711 opened #111 "[Translation] Blog: Apache BookKeeper Internals — Part 2 — Writes"
You can directly edit in this docs:
https://docs.google.com/document/d/1onjhBcshHbPy8Zr4SaCLNfWq4CrZtHN1ZwhRSW1i2bM/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1onjhBcshHbPy8Zr4SaCLNfWq4CrZtHN1ZwhRSW1i2bM/edit?

[2021-11-22 09:00] whqq1711 opened #112 "[Translation] Blog: Apache BookKeeper Internals — Part 3 — Reads"
You can directly edit in this docs:
https://docs.google.com/document/d/1wfi7s0VbqOXCEYz8r8nQ0ccw2DwrBD2lxSndVfB4ZoM/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1wfi7s0VbqOXCEYz8r8nQ0ccw2DwrBD2lxSndVfB4ZoM/edit?

[2021-11-22 09:08] whqq1711 opened #113 "[Translation] Blog: Apache BookKeeper Internals — Part 4 — Back Pressure"
You can directly edit in this docs:
https://docs.google.com/document/d/1hJmopKIYLbWC-fN8lHI52XiT9569DBBfPmGmxHltT1Y/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1hJmopKIYLbWC-fN8lHI52XiT9569DBBfPmGmxHltT1Y/edit?

[2021-11-23 01:36] wangjialing218 commented on #110
I'll take this

[2021-11-23 14:27] kivenwei commented on #108
认领

[2021-11-24 02:15] zeroGozhang commented on #113
mark

[2021-11-24 02:28] wanglunhui2012 commented on #112
认领

[2021-11-24 02:31] pisceslj commented on #101
done

[2021-11-24 03:37] whqq1711 opened #114 "[Translation] Blog: Apache BookKeeper Observability — Part 1 — Introducing the Metrics"
You can directly edit in this docs:
https://docs.google.com/document/d/1b_-sO-FkNB-7t1maFbZWSMNuPkn1CYGP_wkxPtCstXk/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1b_-sO-FkNB-7t1maFbZWSMNuPkn1CYGP_wkxPtCstXk/edit?

[2021-11-24 05:10] JipeiWang opened #115 "2021-11-24: Pulsar CN Community Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZExNc1l5c21VemFZ)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：11 月 Apache Pulsar 中文社区开发者与用户组会议
-会议时间：2021/11/24 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议
https://meeting.tencent.com/dm/OtHsz6z9LLOF
- 会议 ID：174 704 543

## 组织方

- StreamNative

## 相关资料
- 往期开发者与用户会议

[2021-11-24 06:52] whqq1711 opened #116 "[Translation] Blog: Apache BookKeeper Observability — Part 2 — Write USE Metrics"
You can directly edit in this docs:
https://docs.google.com/document/d/1an2-wD19TvC-YMVucr5JegogifxCjb5BsaF6EQPOQ-s/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1an2-wD19TvC-YMVucr5JegogifxCjb5BsaF6EQPOQ-s/edit?

[2021-11-24 07:07] whqq1711 opened #117 "[Translation] Blog: Apache BookKeeper Observability — Part 3 — Write Metrics in Detail"
You can directly edit in this docs:
https://docs.google.com/document/d/1o9wpDIiDy6NO3Wts6beYxD7qZcVnqeh0-GwAf1NjoFQ/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1o9wpDIiDy6NO3Wts6beYxD7qZcVnqeh0-GwAf1NjoFQ/edit?

[2021-11-24 07:26] whqq1711 opened #118 "[Translation] Blog: Apache BookKeeper Observability — Part 4— Read USE Metrics"
You can directly edit in this docs:
https://docs.google.com/document/d/1o-xASXNWNx1dsotITnwcwJY_9CsVdTzjnbqsVepSs2g/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1o-xASXNWNx1dsotITnwcwJY_9CsVdTzjnbqsVepSs2g/edit?

[2021-11-24 07:41] whqq1711 opened #119 "[Translation] Blog: Apache BookKeeper Observability — Part 5— Read Metrics in Detail"
You can directly edit in this docs:
https://docs.google.com/document/d/1lRkv9il6c6qvzWqRxdzVlASIc2nj3eyds4o9aJLvCN0/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1lRkv9il6c6qvzWqRxdzVlASIc2nj3eyds4o9aJLvCN0/edit?

[2021-11-24 08:08] whqq1711 opened #120 "[Translation] Blog: A Guide to the BookKeeper Replication Protocol (TLA+ Series Part 2)"
You can directly edit in this docs:
https://docs.google.com/document/d/1tRYN5J8KuVkTV3ZWIk9dywPjCRAfZzNUMpVww0eRLv8/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1tRYN5J8KuVkTV3ZWIk9dywPjCRAfZzNUMpVww0eRLv8/edit?

[2021-11-24 08:32] whqq1711 opened #121 "[Translation] Blog: Modelling and verifying the BookKeeper protocol (TLA+ Series Part 3)"
You can directly edit in this docs:
https://docs.google.com/document/d/1Zhs_jfb2qHvpUdikU-EwAxAN6DVs4xDljO83g4SqOAQ/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1Zhs_jfb2qHvpUdikU-EwAxAN6DVs4xDljO83g4SqOAQ/edit?

[2021-11-24 20:26] JipeiWang commented on #115
本期视频：https://www.bilibili.com/video/BV1eL411M7Ka/
本期文档：https://docs.qq.com/doc/DZExNc1l5c21VemFZ

[2021-11-25 08:21] EAHITechnology commented on #110
我要翻译

[2021-11-25 08:21] EAHITechnology commented on #110
朋友抱歉，周天之前没有评论，这个在群里当时认领了

[2021-11-25 08:22] EAHITechnology commented on #111
我要翻译

[2021-11-25 14:38] zeroGozhang commented on #113
done

[2021-11-26 10:27] JueShanCoder commented on #114
Mark. Tks~

[2021-11-30 14:54] JipeiWang commented on #100
本周三（12 月 1 日发布）

[2021-11-30 14:54] #100 closed

[2021-12-01 06:03] Tango2018cc opened #122 "Pulsar 职位广场 | 2021-12（征集中）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2021 年 12 月职位广场信息收集帖，请在本 Issue 下方留言。

12 月份职位广场信息将在 12 月最后一个工作日前后推送。

往期职位广场：
- [Pulsar 职位广场 | 2021-11(停止征集)](https://github.com/streamnative/pulsar-user-group-loc-cn/issues/93)
- [Pulsar 职位广场 | 2021-10(停止征集)](https://github.com/streamnative/pulsar-user-group-

[2021-12-01 06:05] huangxiaobing1987 commented on #122
Platform Engineer（Serverless）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、开发和打造基于ApachePulsar/BookKeeper的serverless商业化产品；
设计、开发和优化Pulsar Functions/Pulsar Connectors的核心组件；
打造围绕ApachePulsar/BookKeeper的生态系统；
构建ApachePulsar/BookKeeper的开发者社区，进行ApachePulsar/BookKeeper技术布道；

编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++/Rust中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分

[2021-12-01 06:05] huangxiaobing1987 commented on #122
StreamNative-Solution Engineer
工作地点：北京/全国

工作职责：
支持销售经理与客户进行需求沟通，技术类交流，并根据需求搭建产品演示、设计并讲解 Pulsar 的解决方案、编写相关文档等
参与并完成 POC 阶段的技术交流、实施部署、文档编写及总结汇报等工作，确保技术层面可以满足客户的预期
负责客户的技术支持工作，包括 Pulsar 的部署、升级、配置变更、生态组件（Function/Connector 等）等的使用方式介绍、原理讲解、最佳实践、故障定位分析等
理解客户的产品功能需求或 Bug 的反馈，与研发团队、文档团队等协同推进相关产品的优化升级
根据日常的技术支持工作，撰写知识库文章，定期为团队分享相关经验
任职要求：
本科以上学历，计算机专业有加分，3年以上工作经验，有云产品服务经验的有加分
有良好的学习和研究能力，面对一个新产品或者特性时，可以在较

[2021-12-01 06:14] kivenwei commented on #108
done, 可以校验了。

[2021-12-01 06:39] AhahaGe commented on #109
please assign to me

[2021-12-01 06:40] AhahaGe commented on #116
please assign to me

[2021-12-01 06:40] AhahaGe commented on #117
please assign to me

[2021-12-01 06:40] AhahaGe commented on #118
please assign to me

[2021-12-01 06:40] AhahaGe commented on #119
please assign to me

[2021-12-03 12:58] tuhaihe commented on #104
@yangxuan74 已经Review，翻译质量很高，感谢贡献！

[2021-12-03 12:59] #104 closed

[2021-12-07 01:52] Tango2018cc opened #123 "[Translation] Doc：client-libraries-rest"

[2021-12-07 02:09] dros6 commented on #107
认领翻译

[2021-12-07 07:40] wangjialing218 commented on #120
mark

[2021-12-07 15:44] JueShanCoder commented on #116
let me try it.

[2021-12-08 02:03] Tango2018cc opened #124 "[开发者会议] 开发者会议视频内容整理-11/24期"

[2021-12-08 14:13] shibd commented on #124
mark~

[2021-12-09 06:09] Tango2018cc opened #125 "[开发者会议]开发者会议视频内容整理-10/27期"

[2021-12-09 06:10] Tango2018cc opened #126 "[开发者会议]开发者会议视频内容整理-09/29期"

[2021-12-09 06:18] Frank-liuyang commented on #125
Assign to me, PLS.

[2021-12-09 06:21] Tango2018cc opened #127 "[开发者会议]开发者会议视频内容整理-08/25期"

[2021-12-09 06:23] JayFrank commented on #126
认领

[2021-12-10 06:27] complone commented on #117
/assign

[2021-12-10 06:27] complone commented on #118
@Tango2018cc /assign

[2021-12-10 06:27] complone commented on #119
@Tango2018cc /assign

[2021-12-10 08:04] freshgeek commented on #123
let me try it.

[2021-12-11 01:22] VinciLee1 commented on #121
  认领

[2021-12-14 05:39] Tango2018cc opened #128 "[Translation] Doc：administration-load-balance"

[2021-12-14 06:12] 602763061 commented on #30
let me try

[2021-12-14 12:08] #110 closed

[2021-12-15 01:34] hapihu commented on #128
认领

[2021-12-15 01:58] Tango2018cc commented on #128
请大家详细阅读本篇指南后进行文档翻译：https://mp.weixin.qq.com/s/Xo6_4nOzEko4IIZ6NpxoUA

[2021-12-15 01:58] Tango2018cc commented on #30
请详细阅读本篇指南后进行文档翻译：https://mp.weixin.qq.com/s/Xo6_4nOzEko4IIZ6NpxoUA

[2021-12-15 12:37] kivenwei commented on #98
认领，继续翻译。

[2021-12-15 16:23] hapihu commented on #68
认领翻译

[2021-12-16 03:50] JipeiWang commented on #108
已经发布啦🙏

[2021-12-16 03:50] #108 closed

[2021-12-16 14:52] tuhaihe commented on #122
@@all-contributors add @Tango2018cc as the contributor

[2021-12-16 14:55] tuhaihe commented on #122
@all-contributors , please add @Tango2018cc  as the contributor for blog

[2021-12-16 15:05] tuhaihe commented on #128
@all-contributors , please add @hapihu as the contributor for translation

[2021-12-17 05:30] mingxinkejian commented on #31
认领翻译

[2021-12-17 05:47] yzydtc commented on #127
认领

[2021-12-18 11:58] shibd commented on #124
@Tango2018cc  PTAL~

[2021-12-19 03:52] hapihu commented on #68
done @Tango2018cc

[2021-12-20 08:06] kivenwei commented on #98
粉红色部分点击无法跳转和无法编辑，这是什么原因？其他的已翻译完成。

[2021-12-20 12:54] IOTdailinwei commented on #46
认领

[2021-12-20 12:55] IOTdailinwei commented on #74
认领

[2021-12-21 04:27] Tango2018cc opened #131 "[Translation] Doc：admin-api-packages"

[2021-12-21 04:44] Tango2018cc commented on #109
第二部分内容待翻译，有想要认领的小伙伴可以在下方评论

[2021-12-21 04:47] Tango2018cc commented on #123
认领本 Issue 的小伙伴别忘了尽快完成哈～，另外如果有其他小伙伴想要一起完成，可以在下方评论认领，我会一并指派

[2021-12-21 04:50] Tango2018cc commented on #85
关于断句是表单Mark Down语法的格式显示，可以跳过此部分（或者按照既定格式去翻译）

认领本 Issue 的小伙伴回头再看下哈～，另外如果有其他小伙伴想要一起完成，可以在下方评论认领，我会一并指派

[2021-12-21 04:51] Tango2018cc opened #132 "[Translation] Doc：deploy-bare-metal"

[2021-12-21 04:54] Tango2018cc commented on #95
认领本 Issue 的小伙伴别忘了尽快完成哈～

[2021-12-21 04:55] Tango2018cc commented on #90
认领本 Issue 的小伙伴别忘了尽快完成哈～

[2021-12-21 04:55] Tango2018cc commented on #103
认领本 Issue 的小伙伴别忘了尽快完成哈～，另外如果有其他小伙伴想要一起完成，可以在下方评论认领，我会一并指派

[2021-12-21 04:55] Tango2018cc commented on #102
认领本 Issue 的小伙伴别忘了尽快完成哈～，另外如果有其他小伙伴想要一起完成，可以在下方评论认领，我会一并指派

[2021-12-21 08:02] AlphaWang commented on #85
May I take this task?

[2021-12-22 11:22] complone commented on #117
Translation completed

[2021-12-24 01:55] Tango2018cc opened #133 "[开发者会议]开发者会议视频内容整理-07/28期"

[2021-12-24 02:01] JayFrank commented on #133
认领

[2021-12-25 05:23] tuhaihe commented on #108
@all-contributors , please add @kivenwei  as the contributor for translation

[2021-12-25 05:38] tuhaihe commented on #110
@all-contributors , please add @wangjialing218  as the contributor for translation

[2021-12-25 05:43] tuhaihe commented on #100
@all-contributors , please add @JueShanCoder  as the contributor for translation

[2021-12-25 10:25] tuhaihe commented on #104
@all-contributors , please add @yangxuan74  as the contributor for translation

[2021-12-25 12:28] dislazy commented on #95
mark

[2021-12-26 15:25] 602763061 commented on #30
@all-contributors , please add @602763061 as the contributor for translation

[2021-12-27 01:22] AlphaWang commented on #85
@all-contributors , please add @AlphaWang as the contributor for translation

[2021-12-27 01:50] safaf11 commented on #131
领

[2021-12-28 05:10] Tango2018cc commented on #99
已完成

@all-contributors , please add @dislazy  as the contributor for translation

[2021-12-28 05:12] Tango2018cc commented on #72
@all-contributors , please add @duanjia85 、 @JueShanCoder as the contributor for translation

[2021-12-28 05:13] Tango2018cc commented on #72
@all-contributors , please add @JueShanCoder as the contributor for translation

[2021-12-28 05:14] Tango2018cc commented on #71
@all-contributors , please add @jjnnzb  as the contributor for translation

[2021-12-28 05:14] Tango2018cc commented on #25
@all-contributors , please add @EAHITechnology  as the contributor for translation

[2021-12-28 05:38] Tango2018cc commented on #125
认领的小伙伴别忘了本任务，完成后辛苦同步下哈～

[2021-12-28 05:38] Tango2018cc commented on #127
认领的小伙伴别忘了本任务，完成后辛苦同步下哈～

[2021-12-28 06:38] AlphaWang commented on #109
I'm working on part 2.

[2021-12-28 07:25] Tango2018cc commented on #116
提醒认领的小伙伴别忘了本篇Blog翻译哈～

[2021-12-28 08:46] JipeiWang opened #144 "2021-12-29: Pulsar CN Community Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZHNiSXpWbXNHb0RO)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：12 月 Apache Pulsar 中文社区开发者与用户组会议
- 会议时间：2021/12/29 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dm/6E53S83G6W1w
- 会议 ID：330-362-618

## 组织方

- StreamNative

## 相关资料
- 往期开发者与用户会

[2022-01-08 03:28] VinciLee1 commented on #121
Translation done please review

[2022-01-15 10:08] manzhizhen commented on #132
let me try

[2022-01-20 04:34] Tango2018cc commented on #46
@all-contributors , please add @IOTdailinwei as the contributor for translation

[2022-01-20 04:35] Tango2018cc commented on #64
@all-contributors , please add @cqanyway as the contributor for translation

[2022-01-20 04:35] Tango2018cc commented on #77
@all-contributors , please add @dros6  as the contributor for translation

[2022-01-20 04:35] Tango2018cc commented on #46
@all-contributors , please add @feiyuAcc  as the contributor for translation

[2022-01-20 04:36] Tango2018cc commented on #56
@all-contributors , please add @riemannChow  as the contributor for translation

[2022-01-20 04:37] Tango2018cc commented on #55
@all-contributors , please add @edulzu as the contributor for translation

[2022-01-20 04:37] Tango2018cc commented on #75
@all-contributors , please add @punish-yh  as the contributor for translation

[2022-01-20 04:37] Tango2018cc commented on #35
@all-contributors , please add @keashem  as the contributor for translation

[2022-01-20 04:38] Tango2018cc commented on #36
@all-contributors , please add @pisceslj  as the contributor for translation

[2022-01-20 04:38] Tango2018cc commented on #47
@all-contributors , please add @FieldChan  as the contributor for translation

[2022-01-20 04:38] Tango2018cc commented on #67
@all-contributors , please add @safaf11  as the contributor for translation

[2022-01-20 04:39] Tango2018cc commented on #65
@all-contributors , please add @KLsself  as the contributor for translation

[2022-01-20 04:39] Tango2018cc commented on #59
@all-contributors , please add @lzhpo  as the contributor for translation

[2022-01-20 04:40] Tango2018cc commented on #26
@all-contributors , please add @Flowermin  as the contributor for translation

[2022-01-25 07:42] Tango2018cc opened #159 "Pulsar 职位广场 | 2022-「01-02」（征集中）"

[2022-01-25 07:45] huangxiaobing1987 commented on #159
Platform Engineer（Serverless）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、开发和打造基于ApachePulsar/BookKeeper的serverless商业化产品；
设计、开发和优化Pulsar Functions/Pulsar Connectors的核心组件；
打造围绕ApachePulsar/BookKeeper的生态系统；
构建ApachePulsar/BookKeeper的开发者社区，进行ApachePulsar/BookKeeper技术布道；

编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++/Rust中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分

[2022-01-25 07:45] huangxiaobing1987 commented on #159
StreamNative-Solution Engineer
工作地点：北京/全国

工作职责：
支持销售经理与客户进行需求沟通，技术类交流，并根据需求搭建产品演示、设计并讲解 Pulsar 的解决方案、编写相关文档等
参与并完成 POC 阶段的技术交流、实施部署、文档编写及总结汇报等工作，确保技术层面可以满足客户的预期
负责客户的技术支持工作，包括 Pulsar 的部署、升级、配置变更、生态组件（Function/Connector 等）等的使用方式介绍、原理讲解、最佳实践、故障定位分析等
理解客户的产品功能需求或 Bug 的反馈，与研发团队、文档团队等协同推进相关产品的优化升级
根据日常的技术支持工作，撰写知识库文章，定期为团队分享相关经验
任职要求：
本科以上学历，计算机专业有加分，3年以上工作经验，有云产品服务经验的有加分
有良好的学习和研究能力，面对一个新产品或者特性时，可以在较

[2022-01-25 08:50] artoderk commented on #159
众安保险-基础平台-消息中间件方向
工作地点-上海-黄浦区

岗位职责：
1.参与集团消息服务及周边系统建设；
2.优化系统架构，提升性能和系统稳定性。

任职要求：
1.计算机相关专业，本科以上学历，2年以上中间件相关经验；
2.熟悉Kafka/Pulsar/RocketMQ其中任意一门消息中间件的原理和实现;
3.熟悉Java，熟悉网络编程、多线程编程技术，有大规模高并发系统开发和设计经验，有良好的数据结构和算法功底;
4.有技术热情和较强的学习能力，以及良好的沟通能力、抗压能力和团队协作能力；
5.有Fink、Doris经验，开源社区贡献者优先。

-----------------------------------------------------------------------------------------------------------------------

[2022-01-25 16:25] ZaynFuture commented on #159
虾皮Shopee-基础平台-消息中间件方向
工作地点-北京-海淀区

岗位职责

负责Shopee消息中间件产品的研发与维护，为业务线提供稳定、高效且易用的产品
围绕消息中间件，构建其周边生态，如：各类IO Connector
参与事件总线的研发，驱动EDA架构在公司的落地
参与开源社区，构建技术影响力

任职要求

计算机相关专业本科学历及以上，有3年以上中间件领域产品研发经验
至少掌握 JAVA 和 GO中的一种语言，对语言有深入理解
熟悉分布式系统的原理和关键技术，有分布式消息中间件（如：Kafka、RocketMQ、Pulsar）研发和实践经验，熟悉源码者更佳
有极客精神和自我驱动能力，良好的沟通表达和团队协作能力
深度参与开源，有开源贡献者优先

简历投递邮箱：zhi.zheng@shopee.com

[2022-02-09 04:20] whqq1711 opened #160 "[Translation] Blog: Offset Implementation in Kafka-on-Pulsar"
This is our Pulsar CN Community Meeting, welcome for your joining.

Please feel free to comment on this issue：
 - If you want to join our mYou can directly edit in this docs:
https://docs.google.com/document/d/1-Xx3NOinTyC0YuErPvegEyeoor_-dMEr5ZI2uZOhQMs/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pul

[2022-02-09 04:22] #160 closed

[2022-02-09 04:24] whqq1711 opened #161 "[Translation] Blog: Offset Implementation in Kafka-on-Pulsar"
You can directly edit in this docs:
https://docs.google.com/document/d/1-Xx3NOinTyC0YuErPvegEyeoor_-dMEr5ZI2uZOhQMs/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1-Xx3NOinTyC0YuErPvegEyeoor_-dMEr5ZI2uZOhQMs/edit?

[2022-02-09 05:16] whqq1711 opened #162 "[Translation] Blog: Developing Event-Driven Microservices with Apache Pulsar: Part I"
You can directly edit in this docs:
https://docs.google.com/document/d/10xdiSbpJjAyI_HT6h22EZh9cFjo623LcJdgeNXdx1l8/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/10xdiSbpJjAyI_HT6h22EZh9cFjo623LcJdgeNXdx1l8/edit?

[2022-02-09 05:39] whqq1711 opened #163 "[Translation] Blog: Tweaking the BookKeeper Protocol - Unbounded Ledgers"
You can directly edit in this docs:
https://docs.google.com/document/d/1sxCyN7RIu_q4PKy1NqOftDovbFjK8ETEsz6X0INs7UY/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1sxCyN7RIu_q4PKy1NqOftDovbFjK8ETEsz6X0INs7UY/edit?

[2022-02-09 06:09] whqq1711 opened #164 "[Translation] Blog: Pulsar Isolation Part III: Separate Pulsar Clusters Sharing a Single BookKeeper Cluster"
You can directly edit in this docs:
https://docs.google.com/document/d/1e36aXLJ6C9upZGg8WsWrynAdWZKjJf5uHdKhmttchbM/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1e36aXLJ6C9upZGg8WsWrynAdWZKjJf5uHdKhmttchbM/edit?

[2022-02-09 06:33] whqq1711 opened #165 "[Translation] Blog: Auto-Scaling Pulsar Functions in Kubernetes Using Custom Metrics"
You can directly edit in this docs:
https://docs.google.com/document/d/1LprvXi4zSgRadTxr5YnxQy8tV5Lb5bfl__WPA1E6zKQ/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1LprvXi4zSgRadTxr5YnxQy8tV5Lb5bfl__WPA1E6zKQ/edit?

[2022-02-09 08:33] whqq1711 opened #166 "[Translation] Blog: Moving Toward a ZooKeeper-Less Apache Pulsar"
You can directly edit in this docs:
https://docs.google.com/document/d/1X1sZaLWYroHchBe_9r8WPcHD-vJi14GIpQwP1v0gg5Y/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1X1sZaLWYroHchBe_9r8WPcHD-vJi14GIpQwP1v0gg5Y/edit?

[2022-02-09 09:40] whqq1711 opened #167 "[Translation] Blog: Integrating Apache Pulsar with BigQuery"
You can directly edit in this docs:
https://docs.google.com/document/d/1NNCAVqb8paPdIw-yC_jmEsRxNMXMhwnl0wDF7IkzlWk/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1NNCAVqb8paPdIw-yC_jmEsRxNMXMhwnl0wDF7IkzlWk/edit?

[2022-02-11 08:06] dockerzhang commented on #159
**腾讯-大数据开发高级工程师-消息中间件方向**
**工作地点：**
深圳/北京/上海
**岗位职责：**
1、参与开发腾讯消息中间件服务，实现内部和云上业务需求；
2、优化系统架构，提升服务的性能和稳定性，提升研发质量和效率。

**岗位要求：**
1、熟悉 Pulsar/Kafka/RocketMQ/Flink 等大数据生态技术栈，具备海量数据开发和调优能力；
2、 熟悉 Java、Scala 等开发语言中的一种或多种；
3、3年及以上大数据相关开发经验，丰富的实时或离线数据体系建设经验；
4、熟悉 Linux 操作系统常见的问题定位，较强的 online trouble shooting 能力。

**加分项：**
1、Pulsar/ Kafka 社区活跃者，社区contributor/committer 更优；
2、面对复杂问题具有强烈的自驱力，从业务和技术等多角度推进工作，达成

[2022-02-15 02:38] manzhizhen commented on #162
let me try

[2022-02-15 02:42] manzhizhen commented on #123
let me try it

[2022-02-15 02:43] VinciLee1 commented on #121
@whqq1711

[2022-02-15 02:46] AlphaWang commented on #161
let me try.

[2022-02-15 02:46] VinciLee1 commented on #166
认领

[2022-02-15 02:51] 602763061 commented on #163
claim translate task

[2022-02-16 04:16] Tango2018cc opened #168 "[社区FAQ收集] 2021-12/20-12/31"
欢迎大家认领，本任务为社区FAQ的内容收集，耗时5-15min，请接手任务的小伙伴在此 issue 留言并在微信群艾特Tango，管理员会分配 issue，方便记录大家的贡献。

点击下方链接了解本任务详情
https://docs.google.com/document/d/1VBHFgagbYRELvVI--JswU46-L53aM3Qs6AHJ2adI7H8/edit#

[2022-02-16 04:37] shibd commented on #168
mark

[2022-02-16 05:14] leizhiyuan commented on #159
腾讯-腾讯云中间件开发高级工程师-消息中间件方向

工作地点：
深圳/北京/上海/武汉/杭州

岗位职责：
1、负责腾讯云中间件TDMQ 产品族的设计，核心代码开发，系统稳定性开发，性能优化等工作；
2、根据云计算平台的业务需求，完成腾讯云中间件产品的架构设计和优化工作；
3、帮忙业务方解决技术难题，用技术推动业务发展。

岗位要求：
1、熟悉开源消息队列RabbitMQ/RocketMQ框架，有相关开发经验者优先;
2、熟悉 Java、Scala 等开发语言中的一种或多种;
3、有一定的大规模生产服务开发经验,熟悉 Linux/Java 常见的问题定位;
4、熟悉Linux操作系统、熟悉开源的中间件软件。

联系邮箱：
zhiyuanlei@tencent.com

[2022-02-16 06:18] chenliang114 commented on #159
Security Platform Engineer （华为云智能安全分析平台开发工程师）
工作地点：北京市海淀区环保科技园华为园区

岗位职责：
规划、开发和打造基于ApachePulsar/BookKeeper的serverless云化多租场景安全分析平台；
设计、开发和优化Pulsar Functions/Pulsar Connectors的核心组件，并基于pulsar function开发安全分析核心数据分析系统；
打造围绕ApachePulsar/BookKeeper的安全分析生态系统；
构建云环境下的多租场景下的数据分析平台应用。
编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分布式消息中间件系统

[2022-02-16 07:17] dragonls commented on #159
微信大数据平台MQ开发工程师

工作地点：深圳/广州

岗位职责：

1. 参与MQ/Pulsar消息队列的研发和运营;
2. 优化MQ/Pulsar系统性能与稳定性，保障业务运行；
3. 参与微信大数据平台建设和运营，并进行相关组件开发。

岗位要求：

1. 熟悉 Linux 开发;
2. 熟悉 Java、C/C++ 等一门或多门语言;
3. 熟悉 Pulsar/Kafka 等消息队列者优先；
4. 有 Kubernetes(K8S) 等云原生领域相关经验者优先。

简历投递：druidliu@tencent.com

[2022-02-16 08:13] mingxinkejian commented on #31
please check it!

[2022-02-18 15:23] shibd commented on #168
done.

[2022-02-22 04:23] Tango2018cc opened #169 "[Transltation] Blog：security-policy-and-supported-versions"

[2022-02-22 04:28] Tango2018cc opened #170 "[Translation] DOC：client-libraries-cpp剩余部分"

[2022-02-22 04:29] Tango2018cc opened #171 "[Translation] DOC：client-libraries-java 剩余部分"

[2022-02-22 04:31] Tango2018cc opened #172 "[Translation] Doc：client-libraries-dotnet 剩余部分"

[2022-02-22 04:35] Tango2018cc opened #173 "[Translation]Doc：concepts-messaging 剩余部分"

[2022-02-22 04:37] Tango2018cc opened #174 "[Translation] DOC：develop-plugin"

[2022-02-22 04:39] Tango2018cc opened #175 "[Translation]Doc：performance-pulsar-perf剩余部分"

[2022-02-22 05:24] zhengzhou-spark commented on #173
我来翻译这个吧

[2022-02-22 05:25] Tango2018cc opened #176 "Pulsar 职位广场 | 2022-03（已发布）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2022 年 3月职位广场信息收集帖，请在本 Issue 下方留言。

本次职位广场信息将在 3 月最后一个工作日前后推送。

往期职位广场：
- [Pulsar 职位广场 | 2022-01+02(已发布)](https://github.com/streamnative/pulsar-user-group-loc-cn/issues/159)
- [Pulsar 职位广场 | 2021-12(停止征集)](https://github.com/streamnative/pulsar-user-group-loc

[2022-02-22 06:14] dros6 commented on #164
认领翻译

[2022-02-22 07:27] JayFrank commented on #169
认领

[2022-02-22 07:27] JayFrank commented on #172
认领

[2022-02-23 13:23] VinciLee1 commented on #166
@Tango2018cc done

[2022-02-24 14:06] #106 closed

[2022-02-24 14:28] JipeiWang commented on #144
本期视频：https://www.bilibili.com/video/BV13b4y1x79Z/
本期Q&A：https://docs.qq.com/doc/DZHNiSXpWbXNHb0RO

[2022-02-25 05:35] mingxinkejian commented on #175
认领啦

[2022-02-28 00:49] tuhaihe commented on #176
**中国联通智网创新中心 - 网络数据室**

**工作地点：** 北京海淀区白石桥南

---

**1. 大数据SRE运维研发工程师**

岗位职责

1、负责大数据平台的运维管理工作，集群容量规划、扩容、监控及性能优化；
2、积极主动沟通租户并处理租户使用集群遇到的异常报错；
3、具有自主学习意愿，能够根据工作内容主动扩充大数据生态及相关技术栈；
4、参与大数据平台相关开发工作，

任职要求

1、2年及以上大数据平台维护优化或研发经验；
2、熟系Java开发，技术基础扎实;
3、熟悉大数据相关技术Hadoop、Spark、Flink、Hive、Hbase、Kafka、Pulsar、Clickhouse、Redis、Presto等2种及以上；
4、熟练操作主流版本Linux操作系统、熟悉常用系统协议与服务;
5、了解分布式存储架构和原理如Ceph、Ozone;
6、熟悉大数据权限控制

[2022-03-01 01:57] JipeiWang opened #177 "2022-03-02: Pulsar China User Group Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZFZyYkFhcmpqY3NH)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：3 月 2 日 Pulsar 中文开发者与用户组会议
- 会议时间：2022/03/02 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dm/voDDjOPoFlqt
- 会议 ID：721-186-350

## 组织方

- StreamNative

## 相关资料
- 往期开发者与用户会议回顾：ht

[2022-03-01 04:17] Tango2018cc commented on #35
文档有新的内容更新，欢迎小伙伴留言认领

[2022-03-01 04:18] Tango2018cc commented on #38
文档有新内容更新，欢迎大家留言认领

[2022-03-01 04:50] OrdinaryHCB commented on #165
I want to translate this blog.

[2022-03-01 04:59] complone commented on #174
@Tango2018cc  /assign

[2022-03-01 06:27] JayFrank commented on #38
认领

[2022-03-01 06:28] JayFrank commented on #35
认领

[2022-03-01 07:02] dros6 commented on #167
认领翻译

[2022-03-01 11:29] #105 closed

[2022-03-03 15:06] JipeiWang commented on #177
本次视频链接：https://www.bilibili.com/video/BV1uq4y147nZ/
本次文档链接：https://docs.qq.com/doc/DZFZyYkFhcmpqY3NH

[2022-03-08 07:33] Tango2018cc commented on #173
https://github.com/all-contributors, please add @zhengzhou-spark  as the contributor for translation.

[2022-03-08 07:34] Tango2018cc commented on #173
@[allcontributors](https://github.com/apps/allcontributors), please add @Flowermin as the contributor for translation

[2022-03-08 07:38] Tango2018cc commented on #173
@all-contributors , please add @zhengzhou-spark  as the contributor for translation

[2022-03-09 04:41] Tango2018cc opened #178 "[Translation] Doc：administration-pulsar-manager"

[2022-03-09 04:44] Tango2018cc opened #179 "[Translation] Doc：getting-started-standalone"

[2022-03-09 04:46] Tango2018cc opened #180 "[Translation] Doc：reference-metrics 新增部分"

[2022-03-09 04:48] Tango2018cc opened #181 "[Translation] Doc：schema-manage"

[2022-03-09 04:54] OrdinaryHCB commented on #178
认领

[2022-03-09 06:57] Tango2018cc opened #182 "[社区FAQ收集] 2022-1/3-1/14"

[2022-03-09 07:13] Tango2018cc opened #183 "[社区FAQ收集] 2022-1/17-1/28"

[2022-03-09 07:15] Tango2018cc opened #184 "[社区FAQ收集] 2021-02/14-02/25"

[2022-03-10 09:36] dislazy commented on #179
mark

[2022-03-10 13:49] dros6 commented on #180
领

[2022-03-10 13:49] dros6 commented on #181
领

[2022-03-15 06:08] Tango2018cc commented on #123
认领的小伙伴移交文档，欢迎其他小伙伴积极认领，在下方评论即可

[2022-03-15 06:08] Tango2018cc commented on #162
认领的小伙伴移交文档，欢迎其他小伙伴积极认领，在下方评论即可

[2022-03-15 06:26] VinciLee1 commented on #162
please assign the task to me.

[2022-03-21 01:45] JipeiWang commented on #107
@dros6 文档已留言 PTAL，感谢翻译～

[2022-03-21 01:49] Tango2018cc commented on #96
文档内容有更新，欢迎小伙伴积极认领

[2022-03-21 01:56] Tango2018cc commented on #107
后续会在社区进行发布，辛苦落一的翻译～

[2022-03-21 01:57] Tango2018cc opened #185 "[Translation] Doc：admin-api-tenants"

[2022-03-21 02:02] Tango2018cc commented on #173
目前还剩余部分翻译未完成，欢迎大家积极认领

[2022-03-21 02:10] Tango2018cc commented on #50
剩余部分未完成，欢迎大家积极认领

[2022-03-21 03:01] Radiancebobo commented on #96
认领

[2022-03-21 03:45] Radiancebobo commented on #50
认领

[2022-03-21 03:56] shibd commented on #182
mark.

[2022-03-21 15:23] dros6 commented on #185
翻译

[2022-03-22 01:52] Tango2018cc commented on #51
文档内容有新更新，欢迎大家积极认领

[2022-03-22 01:54] Tango2018cc commented on #54
文档内有内容更新，欢迎大家积极认领

[2022-03-22 02:04] AlphaWang commented on #123
let me try

[2022-03-22 02:27] mingxinkejian commented on #170
认领#170

[2022-03-22 02:29] mingxinkejian commented on #51
认领#51

[2022-03-22 02:30] mingxinkejian commented on #54
认领 #54

[2022-03-22 09:30] Tango2018cc commented on #168
目前已提交Issue 进行Reveiw，近期会更新到FAQ知识库中，此Issue关闭～

[2022-03-22 09:30] #168 closed

[2022-03-23 02:44] shibd commented on #182
done

[2022-03-24 06:51] Huanli-Meng opened #186 "[Chinese doc typo]"
<img width="1376" alt="image" src="https://user-images.githubusercontent.com/48120384/159858985-1064183d-51be-4366-acfa-4666c0757ba7.png">

[2022-03-24 07:01] Tango2018cc opened #187 "[Translation] Doc：concepts-replication"

[2022-03-28 07:41] JipeiWang commented on #166
收到，感谢 @VinciLee1 的翻译😄 我们正在审核中～

[2022-03-28 08:28] huangxiaobing1987 commented on #176
Platform Engineer（Serverless）
工作地点：anywhere，我们远程办公，无论你在地球的哪个角落都可以加入我们

岗位职责：
规划、开发和打造基于ApachePulsar/BookKeeper的serverless商业化产品；
设计、开发和优化Pulsar Functions/Pulsar Connectors的核心组件；
打造围绕ApachePulsar/BookKeeper的生态系统；
构建ApachePulsar/BookKeeper的开发者社区，进行ApachePulsar/BookKeeper技术布道；

编写细致的代码和设计文档，并对其他同事的代码进行审查。

岗位要求：
优秀的发现和解决问题能力，良好的沟通能力和团队合作精神；
熟悉Java/Python/Go/C++/Rust中至少一种语言，有扎实的编程能力；
熟悉分布式系统的原理和关键技术，对分

[2022-03-28 08:29] huangxiaobing1987 commented on #176
StreamNative-Solution Engineer
工作地点：北京/上海

工作职责：
支持销售经理与客户进行需求沟通，技术类交流，并根据需求搭建产品演示、设计并讲解 Pulsar 的解决方案、编写相关文档等
参与并完成 POC 阶段的技术交流、实施部署、文档编写及总结汇报等工作，确保技术层面可以满足客户的预期
负责客户的技术支持工作，包括 Pulsar 的部署、升级、配置变更、生态组件（Function/Connector 等）等的使用方式介绍、原理讲解、最佳实践、故障定位分析等
理解客户的产品功能需求或 Bug 的反馈，与研发团队、文档团队等协同推进相关产品的优化升级
根据日常的技术支持工作，撰写知识库文章，定期为团队分享相关经验
任职要求：
本科以上学历，计算机专业有加分，3年以上工作经验，有云产品服务经验的有加分
有良好的学习和研究能力，面对一个新产品或者特性时，可以在较

[2022-03-28 15:56] lybuestc commented on #159
基础架构高级/资深研发工程师(消息队列方向)

岗位职责：
1、负责公司8千万TPS的消息中间件(Kafka/RocketMQ)的研发、内核优化工作，打造公司级消息总线，提供服务代理、MQ数据同步、消息分发、数据血缘、多租户隔离等多种特性
2、负责消息队列的同城、异地多活方案的设计、开发与落地工作
3、基于Kafka+数据湖技术（iceberg/hudi等），自研消息队列，打造新一代流批一体的实时数仓体系
4、紧跟云原生等前沿技术，推进消息队列的存算分离、本地Sidecar能力建设，调研和推进Pulsar的业务落地

岗位要求：
1、3年以上Linux Java/Scala开发经验
2、熟悉Kafka、RocketMQ等消息队列，具备1年以上的相关开发经验
3、具备大规模分布式系统的开发、运维经验
4、热爱技术研发，具备高度抽象设计能力和快速学习能力，注重代码质量，能够独立分析解决问题，责

[2022-03-29 03:03] Tango2018cc opened #188 "Pulsar 职位广场 | 2022-04（征集中）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2022 年 3月职位广场信息收集帖，请在本 Issue 下方留言。

本次职位广场信息将在 4 月最后一个工作日前后推送。

往期职位广场：
 - [Pulsar 职位广场 | 2022-03（已发布）](https://github.com/streamnative/pulsar-user-group-loc-cn/issues/176)
- [Pulsar 职位广场 | 2022-01+02(已发布)](https://github.com/streamnative/pulsar-user-group-loc

[2022-03-29 03:06] lybuestc commented on #176
基础架构高级/资深研发工程师(消息队列方向)
北京/上海

岗位职责：
1、负责公司8千万TPS的消息中间件(Kafka/RocketMQ)的研发、内核优化工作，打造公司级消息总线，提供服务代理、MQ数据同步、消息分发、数据血缘、多租户隔离等多种特性
2、负责消息队列的同城、异地多活方案的设计、开发与落地工作
3、基于Kafka+数据湖技术（iceberg/hudi等），自研消息队列，打造新一代流批一体的实时数仓体系
4、紧跟云原生等前沿技术，推进消息队列的存算分离、本地Sidecar能力建设，调研和推进Pulsar的业务落地

岗位要求：
1、3年以上Linux Java/Scala开发经验
2、熟悉Kafka、RocketMQ等消息队列，具备1年以上的相关开发经验
3、具备大规模分布式系统的开发、运维经验
4、热爱技术研发，具备高度抽象设计能力和快速学习能力，注重代码质量，能够独立分析

[2022-03-29 03:18] Tango2018cc opened #189 "2022-03-30: Pulsar China User Group Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：3 月 30 日 Pulsar 中文开发者与用户组会议
- 会议时间：2022/03/02 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dw/QI4zfLE5hP4v
- 会议 ID：341-451-034
- 会议密码：1234

## 组织方

- StreamNative

## 相关资料
- 往期

[2022-03-29 03:18] lybuestc commented on #188
基础架构高级/资深研发工程师(消息队列方向)
北京/上海

岗位职责：
1、负责公司8千万TPS的消息中间件(Kafka/RocketMQ)的研发、内核优化工作，打造公司级消息总线，提供服务代理、MQ数据同步、消息分发、数据血缘、多租户隔离等多种特性
2、负责消息队列的同城、异地多活方案的设计、开发与落地工作
3、基于Kafka+数据湖技术（iceberg/hudi等），自研消息队列，打造新一代流批一体的实时数仓体系
4、紧跟云原生等前沿技术，推进消息队列的存算分离、本地Sidecar能力建设，调研和推进Pulsar的业务落地

岗位要求：
1、3年以上Linux Java/Scala开发经验
2、熟悉Kafka、RocketMQ等消息队列，具备1年以上的相关开发经验
3、具备大规模分布式系统的开发、运维经验
4、热爱技术研发，具备高度抽象设计能力和快速学习能力，注重代码质量，能够独立分析

[2022-03-29 03:47] Tango2018cc commented on #90
认领本 Issue 的小伙伴别忘了尽快完成哈～，另外如果有其他小伙伴想要一起完成，可以在下方评论认领，我会一并指派共同完成

[2022-03-29 03:49] Tango2018cc opened #190 "[Translation]Doc：security-extending"

[2022-03-29 03:52] Tango2018cc opened #191 "[Translation] Doc：security-tls-transport"

[2022-03-29 03:55] Tango2018cc commented on #76
文档内容有更新，欢迎其他小伙伴留言认领

[2022-03-29 04:02] AlphaWang commented on #187
认领

[2022-03-29 04:33] Radiancebobo commented on #76
认领

[2022-03-29 04:46] JipeiWang commented on #166
已留言，@VinciLee1 PTAL。翻译质量非常棒👍👍👍

[2022-03-29 06:13] VinciLee1 commented on #166
@JipeiWang 感谢Review，收益良多！

[2022-03-29 07:04] Tango2018cc commented on #120
文档已经Review过，辛苦抽空确认下，感谢贡献！

[2022-03-31 04:39] Tango2018cc commented on #76
本篇已完成，感谢各位贡献～

[2022-03-31 04:39] #76 closed

[2022-03-31 05:05] Tango2018cc commented on #176
内容已发布～

[2022-03-31 05:05] #176 closed

[2022-03-31 05:05] Tango2018cc commented on #189
视频链接：https://www.bilibili.com/video/BV1ES4y1m7DB/
QA文档：https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn

[2022-03-31 09:26] #107 closed

[2022-03-31 10:35] JipeiWang commented on #166
已发布～

[2022-03-31 10:35] #166 closed

[2022-03-31 10:36] JipeiWang commented on #120
今天于 Apache Pulsar 公众号发布，感谢嘉凌。

[2022-03-31 10:36] #120 closed

[2022-03-31 14:11] AlphaWang commented on #187
done

[2022-04-01 03:48] autumnqfeng commented on #111
已经翻译完了，刚在SIG-Pulsar_Storage微信群里有交流

[2022-04-02 07:07] Frank-liuyang commented on #125
@Tango2018cc 今天继续，预计清明假期结束前完成。

[2022-04-02 08:34] JipeiWang opened #192 "[Translation] Blog: Apache BookKeeper Insights Part 2 — Closing Ledgers Safely"
You can directly edit in this docs:
https://docs.google.com/document/d/1qoxR0WYt9KRO47LmvP9PDRJg6T_x3vKbKP1rBcs8fow/edit?usp=sharing

Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1qoxR0WYt9KRO47LmvP9PDRJg6T_x3vKbKP1rBcs8fow/edit?usp=shar

[2022-04-02 08:38] autumnqfeng commented on #192
我翻译吧

[2022-04-02 11:47] JipeiWang opened #193 "[Translation] Blog: Streaming Real-Time Chat Messages into Scylla with Apache Pulsar"
You can directly edit in this docs:
https://docs.google.com/document/d/10kFWwcDigw6WONS7FJb1VpoZZ3q8yMK2cDq83-wNZDI/edit?usp=sharing

Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：https://docs.google.com/document/d/10kFWwcDigw6WONS7FJb1VpoZZ3q8yMK2cDq83-wNZDI/edit?usp=shari

[2022-04-02 11:54] JipeiWang opened #194 "[Translation] Blog: Apache Pulsar Client Application Best Practices"
You can directly edit in this docs:
https://docs.google.com/document/d/14MErTU442cDnatRTH-GMia4OyCtOA1JLG6AV-sI63cw/edit?usp=sharing

Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：https://docs.google.com/document/d/14MErTU442cDnatRTH-GMia4OyCtOA1JLG6AV-sI63cw/edit?usp=shari

[2022-04-03 02:11] Radiancebobo commented on #194
认领！

[2022-04-03 02:14] Radiancebobo commented on #193
认领！

[2022-04-07 14:15] VinciLee1 commented on #162
Done, 辛苦后续review

[2022-04-08 03:22] lushilin commented on #188
职位描述
1、负责今日头条消息中间件平台系统架构设计
2、优化消息中间性能和稳定性提升
3、设计符合业务场景的消息中间件
职位要求
1、熟悉TCP/IP协议，熟练掌握Linux网络编程和多线程编程技术，熟练掌握C/C++/Java/Go等语言
2、熟悉Kafka, NSQ, RabbitMQ等各种消息中间设计实现
3、 扎实的编程能力，熟悉常用算法和数据结构，熟悉分布式系统原理
4、熟悉RPC框架、系统性能优化和存储系统优先
5、有大型高并发项目架构设计经验者优先
6、有开源社区贡献者经验优先

[2022-04-12 02:52] Tango2018cc commented on #98
可以忽略跳过这部分～是涉及权限问题

[2022-04-12 06:55] JipeiWang commented on #111
@autumnqfeng 感谢翻译，我们正在进行最终的审核。文章待发布，翻译质量非常👍

[2022-04-12 08:50] JipeiWang opened #195 "[Translation] Whitepaper: 2022 Pulsar Performance Report Part 1"
StreamNative 发布最新 Apache Pulsar benchmark 报告！

本白皮书篇幅较长，分成三个部分进行翻译。本 issue 链接为白皮书的第一部分，🉑️直接在文档上编辑：
https://docs.google.com/document/d/1rjbqxsVWOtVYkrngc3XG6KQJAcuac6KipMlgUfmoi9w/edit?usp=sharing

[2022-04-12 08:53] JipeiWang opened #196 "[Translation] Whitepaper: 2022 Pulsar Performance Report Part 2"
近期，StreamNative 发布了最新 Apache Pulsar benchmark 报告！

本白皮书篇幅较长，分成三个部分进行翻译。本 issue 链接为白皮书的第2⃣️部分，🉑️直接在文档上编辑：
https://docs.google.com/document/d/1JmW-8XvmvU-LllmbViiQy9PMFQrLE7JAZzOmI8RSaeU/edit?usp=sharing

进行翻译的同学请在 issue 留言以便我们 assign issue，也请在微信群 @ Tango 通知我们。

[2022-04-12 09:01] JipeiWang opened #197 "[Translation] Whitepaper: 2022 Pulsar Performance Report Part 3"
近期，StreamNative 发布了最新 Apache Pulsar benchmark 报告！

本白皮书篇幅较长，分成三个部分进行翻译。本 issue 链接为白皮书的第3⃣️部分，🉑️直接在文档上编辑：
https://docs.google.com/document/d/1W4yei3Nzf-IIOnOZ1MWcip_4hh9IVFYNqMwMIbWGmLg/edit?usp=sharing

进行翻译的同学请在 issue 留言以便我们 assign issue，也请在微信群 @ Tango 通知我们。

[2022-04-12 14:20] AlphaWang commented on #195
认领

[2022-04-12 15:54] JipeiWang commented on #195
哈哈哈超迅速 @AlphaWang ，我们本来打算第二天早上发给大家的😂
已经 assign 给你啦～

[2022-04-13 14:22] AlphaWang commented on #197
认领

[2022-04-15 01:50] JipeiWang commented on #111
审核完毕，已留言，PTAL

[2022-04-15 08:16] JipeiWang commented on #109
我们正在审核中。本文篇幅长、翻译难度大，感谢 @AlphaWang @AhahaGe 的工作。

[2022-04-15 09:48] JipeiWang commented on #111
内容今日发布，此 issue 已完工🤝

[2022-04-15 09:48] #111 closed

[2022-04-17 10:45] dros6 commented on #90
译

[2022-04-20 12:55] JipeiWang commented on #161
👍已留言，PTAL

[2022-04-22 08:30] ZaynFuture commented on #188
### Company: Shopee Singapore
### Job Title: Data Engineer
### Job Description:

* Design and manage Data warehouse plan for a product, such as: designing data model, defining data metrics, data governance, and so on
* Collaborate with Business Intelligence, Business and Product Management teams
* Use data to solve problems, identify needs and opportunities
* Design, build and maintain the batch o

[2022-04-22 09:41] JipeiWang commented on #161
已发布，戳[发布链接](https://mp.weixin.qq.com/s?__biz=MzUyMjkzMjA1Ng==&mid=2247490872&idx=1&sn=a695bbc26b72fea0d3701ad57aafc51c&exportkey=A87ejdDdfV06H1BzP%2FmEXpc%3D&acctmode=0&pass_ticket=Af74PK2aE0SxI03C0X36qcjAeeitFQj7QDGulg9n3co%2FRNzWseeekwBvXkYy2JNl&wx_header=0)

[2022-04-22 09:41] #161 closed

[2022-04-26 01:25] Tango2018cc opened #198 "2022-04-27: Pulsar China User Group Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：4 月 27 日 Apache Pulsar 中文开发者与用户组会议
- 会议时间：2022/04/27 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dw/CYX1YPSERA3Z
- 会议 ID：495-404-585
- 会议密码：1234

## 组织方

- StreamNative

## 相关

[2022-04-26 15:33] JipeiWang commented on #193
谢谢 @Radiancebobo 的翻译，正在审核中～～～

[2022-04-26 15:59] JipeiWang commented on #162
正在 review 中，感谢 @VinciLee1 🙏

[2022-04-28 02:56] huangxiaobing1987 commented on #188
StreamNative-Solution Engineer
工作地点：北京/上海

工作职责：
支持销售经理与客户进行需求沟通，技术类交流，并根据需求搭建产品演示、设计并讲解 Pulsar 的解决方案、编写相关文档等
参与并完成 POC 阶段的技术交流、实施部署、文档编写及总结汇报等工作，确保技术层面可以满足客户的预期
负责客户的技术支持工作，包括 Pulsar 的部署、升级、配置变更、生态组件（Function/Connector 等）等的使用方式介绍、原理讲解、最佳实践、故障定位分析等
理解客户的产品功能需求或 Bug 的反馈，与研发团队、文档团队等协同推进相关产品的优化升级
根据日常的技术支持工作，撰写知识库文章，定期为团队分享相关经验
任职要求：
本科以上学历，计算机专业有加分，3年以上工作经验，有云产品服务经验的有加分
有良好的学习和研究能力，面对一个新产品或者特性时，可以在较

[2022-04-28 03:00] huangxiaobing1987 commented on #188
高级技术支持工程师（Senior Support Engineer）
工作地点：北京/上海/广州/深圳

岗位职责：
1、负责公司Pulsar产品的客户问题（售前阶段和售后阶段）咨询和初步问题定位。
2、对于复杂问题，负责帮开发传递完整的问题定位信息，并提单跟踪。
3、负责公司Pulsar产品的POC、测试、实施升级维护等工作；
4、负责测试和实施相关文档的编写，如POC测试方案，实施操作方案，汇报PPT，项目实施方案，售后维护支持文档；

任职资格：
1、计算机及相关专业，本科及以上学历，英语四级以上；
2、5年以上互联网/大数据软件运维或开发类工作经验，有分布式组件开发经验优先;
3、Linux/Unix操作系统基础扎实，熟练操作Linux命令及常用配置；
4、有过下列大数据组件中2个及以上组件的实践操作经验，如Hadoop、RocketMQ 、Kafka、Pulsar、Zookeep

[2022-04-28 07:32] Tango2018cc opened #199 "Pulsar 职位广场 | 2022-05（征集中）"
我们将开通固定栏目「Pulsar 职位广场」，更新 Pulsar 相关岗位招聘动态。如果你所在团队有 Pulsar 相关岗位招聘需求，欢迎在对应月份提交 Issue，包括如下信息：

公司-岗位名称
工作地点
岗位职责
岗位任职要求
简历投递方式（邮箱优先）
本 Issue 为 2022 年 5 月职位广场信息收集帖，请在本 Issue 下方留言。

本次职位广场信息将在 5 月最后一个工作日前后推送。

往期职位广场：
 - [Pulsar 职位广场 | 2022-04（已发布）](https://github.com/streamnative/pulsar-user-group-loc-cn/issues/188)
 - [Pulsar 职位广场 | 2022-03（已发布）](https://github.com/streamnative/pulsar-user-group-loc-

[2022-05-06 06:14] IOTdailinwei commented on #191
认领

[2022-05-09 05:35] JipeiWang commented on #164
谢谢 @dros6 的翻译，文章正在审核中～

[2022-05-09 05:44] JipeiWang commented on #196
谢谢 @AlphaWang 的翻译。我们已全部审核完，正在准备中文版的排版设计，最终版本内已添加致谢译者 🙏

[2022-05-09 05:44] #196 closed

[2022-05-09 05:44] JipeiWang commented on #197
谢谢 @AlphaWang 的翻译。我们已全部审核完，正在准备中文版的排版设计，最终版本内已添加致谢译者 🙏

[2022-05-09 05:44] #197 closed

[2022-05-09 05:46] JipeiWang commented on #195
谢谢 @AlphaWang 的翻译。我们已全部审核完，正在准备中文版的排版设计，最终版本内已添加致谢译者 🙏

[2022-05-09 05:46] #195 closed

[2022-05-11 02:16] Tango2018cc opened #200 "[Translation] Doc：administration-zk-bk"

[2022-05-11 03:20] AlphaWang commented on #128
认领

[2022-05-11 03:23] dros6 commented on #200
译

[2022-05-14 07:00] Tango2018cc opened #201 "[Translation] Blog：What the FLiP is the FLiP Stack"
You can directly edit in this docs:
https://docs.google.com/document/d/1WsayEAwg62s6XeLPDbpMrom1JtsJWOmzloHcPUCqkGk/edit#
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1WsayEAwg62s6XeLPDbpMrom1JtsJWOmzloHcPUCqkGk/edit#
（🉑️直接在文档上编

[2022-05-14 08:30] AlphaWang commented on #201
认领 :)

[2022-05-15 13:18] dros6 commented on #174
译

[2022-05-19 09:17] JipeiWang commented on #162
同步一下进展，因为这篇博客的篇幅较短，所以先列入等待发布列表中，待本系列后续文章翻译好后整合发布。谢谢 @VinciLee1 的翻译。

[2022-05-19 09:18] JipeiWang commented on #164
已发布，本 issue 已完成。

[2022-05-22 13:31] JipeiWang commented on #193
已发布

[2022-05-22 13:31] #193 closed

[2022-05-22 13:33] JipeiWang commented on #165
正在审核中～～

[2022-05-22 16:42] JipeiWang commented on #112
正在审核中，感谢 @wanglunhui2012 的翻译🤩

[2022-05-22 17:50] JipeiWang commented on #113
正在审核中，谢谢 @zeroGozhang 的翻译

[2022-05-23 02:40] Tango2018cc opened #202 "2022-05-25: Pulsar China User Group Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：5 月 25 日 Apache Pulsar 中文开发者与用户组会议
- 会议时间：2022/05/25 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dw/CYX1YPSERA3Z
- 会议 ID：166-587-283
- 会议密码：1234

## 组织方

- StreamNative

## 相关

[2022-05-25 13:30] AlphaWang commented on #201
Done

[2022-05-25 14:16] AlphaWang commented on #128
done.

[2022-05-26 03:47] Tango2018cc commented on #201
感谢贡献，我们会尽快Review

[2022-05-26 09:13] Sherlock113 commented on #116
Thank you for your translation. This blog is being reviewed right now. @JueShanCoder Thx~

[2022-05-26 09:14] Sherlock113 commented on #114
Thank you for your translation. This blog is being reviewed right now. @JueShanCoder  Thx~

[2022-05-27 01:44] Tango2018cc commented on #202
文档：https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn
视频链接：https://www.bilibili.com/video/BV1uB4y1X7Y1?spm_id_from=333.999.0.0

[2022-05-30 05:31] JipeiWang commented on #121
博文审核中 @VinciLee1 🙏

[2022-05-30 05:49] JipeiWang opened #203 "[Translation] Blog：Deep Dive into Message Chunking in Pulsar"
You can directly edit in this docs:
https://docs.google.com/document/d/1jmMz99iqFmyKfn0s_1TBk8aTZpvG-kJQrpJzG16RsW0/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1jmMz99iqFmyKfn0s_1TBk8aTZpvG-kJQrpJzG16RsW0/edit?

[2022-05-30 05:56] JipeiWang opened #204 "[Translation] Blog: Spring into Pulsar"
You can directly edit in this docs:
https://docs.google.com/document/d/1I8G_BE5RRIDCBYRthtO3LtaK-Xki4L9fzYVTVfo7G6Y/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1I8G_BE5RRIDCBYRthtO3LtaK-Xki4L9fzYVTVfo7G6Y/edit?

[2022-05-30 07:05] Sherlock113 commented on #163
@602763061 Thank you for your translation. We are reviewing the translation.

[2022-05-30 11:02] VinciLee1 commented on #162
@JipeiWang  感谢Review 漏了一句未翻译也已经补上

[2022-06-02 04:18] Sherlock113 commented on #117
@complone Thank you for your translation. It is being reviewed now.

[2022-06-02 08:58] Sherlock113 commented on #117
Hi @complone thank you for your translation. Could you please take a look at the existing comments and make the necessary changes to the entire article? As I notice, some translation is not finished. Please refine your translation and I will proceed with the review again. Thanks.

[2022-06-05 12:27] JipeiWang commented on #167
已发布

[2022-06-05 12:27] #167 closed

[2022-06-05 12:28] #194 closed

[2022-06-06 04:04] JipeiWang opened #205 "[Translation] Blog: Pulsar Isolation Part IV: Single Cluster Isolation"
You can directly edit in this docs:
https://docs.google.com/document/d/1rsVqbdylBKJlH7pIALKilyXEYaCLa0evc0Q8fFRmnAk/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：https://docs.google.com/document/d/1rsVqbdylBKJlH7pIALKilyXEYaCLa0evc0Q8fFRmnAk/edit?u

[2022-06-07 03:43] Sherlock113 commented on #118
@complone Thank you for your translation. It is being reviewed right now.

[2022-06-08 01:25] JipeiWang commented on #201
谢谢 @AlphaWang 的翻译与讨论，计划近期发布。

[2022-06-08 06:17] JipeiWang commented on #192
谢谢 @autumnqfeng 的翻译，我们正在审核中。

[2022-06-08 07:58] jjnnzb commented on #204
Assign to me please.

[2022-06-08 08:03] dislazy commented on #205
mark

[2022-06-08 10:39] raoluSmile commented on #203
认领

[2022-06-11 13:30] jjnnzb commented on #204
@JipeiWang @Tango2018cc Hi, I have finished the translation, please review.

[2022-06-13 04:47] JipeiWang commented on #201
已发布🙏

[2022-06-13 04:47] #201 closed

[2022-06-13 04:48] JipeiWang commented on #204
收到🤗已进入审核，谢谢 @jjnnzb

[2022-06-13 06:10] Sherlock113 commented on #119
@complone Thank you for your translation. It is being reviewed right now.

[2022-06-14 08:50] JipeiWang commented on #109
@AhahaGe 麻烦填一下译者简介呀

[2022-06-17 03:59] raoluSmile commented on #203
完成翻译，可以审阅

[2022-06-20 05:57] JipeiWang commented on #204
已发布

[2022-06-20 05:57] #204 closed

[2022-06-20 06:00] JipeiWang commented on #203
收到，开始审核。感谢 @raoluSmile 的翻译。

[2022-06-24 14:31] JipeiWang commented on #112
已发布～，感谢大家的参与。

[2022-06-24 14:31] #112 closed

[2022-06-27 15:44] JipeiWang opened #206 "2022-06-29: Pulsar China User Group Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DZEdITWlUcGhFb3p4)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：6 月 29 日 Apache Pulsar 中文开发者与用户组会议
- 会议时间：2022/06/29 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dw/4KawKVkX8S4B
- 会议 ID：712-992-926
- 会议密码：1234

## 组织方

- StreamNative

## 相关

[2022-06-29 09:02] JipeiWang commented on #203
@raoluSmile 已留言，请确认

[2022-06-29 09:16] JipeiWang commented on #116
hello @JueShanCoder ，文章已进入发布档期，我们先进行发布啦。麻烦方便的时候确认一下哦

[2022-06-29 13:04] raoluSmile commented on #203
已确认 @JipeiWang

[2022-06-30 03:54] tuhaihe commented on #113
已正式发布：https://mp.weixin.qq.com/s/cXyRP8C-zQwIdFUf1UqV4g
感谢 @zeroGozhang !

[2022-06-30 03:57] tuhaihe commented on #113
@allcontributors , please add @zeroGozhang  as the contributor for translation.

[2022-06-30 11:09] JipeiWang commented on #203
已发布，感谢大家的合作。

[2022-06-30 11:09] #203 closed

[2022-07-04 06:25] JipeiWang commented on #113
已发布～谢谢大家

[2022-07-04 06:25] #113 closed

[2022-07-11 00:41] tuhaihe commented on #194
本文已发布：https://mp.weixin.qq.com/s/fbB1C_xFKwl5t_Bov33wxA

[2022-07-13 13:33] JipeiWang opened #207 "[Translation] Blog: What’s New in Apache Pulsar 2.10.1"
You can directly edit in this docs:
https://docs.google.com/document/d/1jiDPw4kwdqePtzFiZ46Oo-kaDQhZQjSp0tyImh4RNXA/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：https://docs.google.com/document/d/1jiDPw4kwdqePtzFiZ46Oo-kaDQhZQjSp0tyImh4RNXA/edit?u

[2022-07-18 05:56] JipeiWang opened #208 "[Translation] Blog: Integrating a distributed database with event streaming"
You can directly edit in this docs:
https://docs.google.com/document/d/1xoJzWVPpeN43cjPsiJinZARsUC90EWTwku3aUkBKrgk/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1xoJzWVPpeN43cjPsiJinZARsUC90EWTwku3aUkBK

[2022-07-18 06:31] Sherlock113 commented on #205
@dislazy Thank you for your translation. It is being reviewed now.

[2022-07-22 02:21] NicoleRobin commented on #208
Apply for this translation task

[2022-07-22 02:22] raoluSmile commented on #207
Apply for this translation task

[2022-07-29 02:11] JipeiWang commented on #163
已发布，谢谢大家

[2022-07-29 16:34] NicoleRobin commented on #208
@JipeiWang done

[2022-08-01 04:48] JipeiWang commented on #163
发布后关闭本 issue

[2022-08-01 05:21] #163 closed

[2022-08-01 06:45] Sherlock113 commented on #208
@NicoleRobin Thank you for your translation. It is being reviewed.

[2022-08-02 12:57] raoluSmile commented on #207
done @JipeiWang

[2022-08-03 07:07] #205 closed

[2022-08-04 17:18] #207 closed

[2022-08-04 17:19] #121 closed

[2022-08-04 17:44] JipeiWang opened #209 "[Translation] Blog: Deep Dive into Data Placement Policies"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1A7LEYfh177bVlDqcd7IMORe11HVhcz3-dl6LrAT-7j4/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1A7LEYfh177bVlDqcd7IMORe11HVhcz3-dl6LrAT

[2022-08-04 18:26] JipeiWang opened #210 "[Translation] Blog: Achieving Broker Load Balancing with Apache Pulsar"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1O1Cg_TsW1DIN8MmPJkvjStfWs_V5H9QaJksVdhZG0Go/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1O1Cg_TsW1DIN8MmPJkvjStfWs_V5H9QaJksVdhZ

[2022-08-04 18:55] JipeiWang opened #211 "[Translation] Blog: What’s New in Apache Pulsar 2.9.3"
You can directly edit in this gdocs:
https://docs.google.com/document/d/18SmqsykPbysmPeGUqno_Ro1FEQpqYsTwcGsD8pPAzwU/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/18SmqsykPbysmPeGUqno_Ro1FEQpqYsTwcGsD8pP

[2022-08-05 06:45] ethqunzhong commented on #209
i will do this blog's translation.

[2022-08-05 06:46] AlphaWang commented on #210
认领

[2022-08-07 09:54] AlphaWang commented on #210
done

[2022-08-08 06:10] Sherlock113 commented on #210
@AlphaWang Thank you for your translation. It is being reviewed.

[2022-08-11 14:39] #192 closed

[2022-08-11 14:39] #208 closed

[2022-08-12 02:38] ethqunzhong commented on #209
done

[2022-08-12 03:26] mangoGoForward commented on #211
认领

[2022-08-12 03:49] Sherlock113 commented on #209
@ethqunzhong Hi, thank you for your translation. It is being reviewed.

[2022-08-15 02:17] complone commented on #117
ok i will finish it today

[2022-08-16 07:49] JipeiWang opened #212 "[Translation] Blog: Introducing Pulsar Resources Operator for Kubernetes"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1orfk--7eX7LtRvtHFdSJiJzpDpiVh-nqd0lD4RX-6K4/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1orfk--7eX7LtRvtHFdSJiJzpDpiVh-nqd0lD4RX

[2022-08-16 08:04] JipeiWang opened #213 "[Translation] Blog: Announcing the Google Cloud BigQuery Sink Connector for Apache Pulsar"
You can directly edit in this gdocs:
https://docs.google.com/document/d/11daFj6jnRp3ZXUlmocAwItqmL1pAaEFxgWvRcUPtcQs/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/11daFj6jnRp3ZXUlmocAwItqmL1pAaEFxgWvRcUP

[2022-08-16 08:49] JipeiWang opened #214 "[ApacheCon Asia] Introduce the Flink SQL Connector for Pulsar and PulsarCatalog"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Introduce the Flink SQL Connector for Pulsar and PulsarCatalog
- 待整理视频：https://www.bilibili.com/video/BV1R14y1t7qA
- PPT 下载地址：https://pan.baidu.com/s/1ot0Cnw-xo0BZoKwoH2dTvQ?pwd=ia6i 提取码: ia6i
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZHlRQVBZUWpnZW1U
#

[2022-08-16 08:53] JipeiWang opened #215 "[ApacheCon Asia] Build one Real-time Data Warehouse Based on Apache Pulsar"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Build one Real-time Data Warehouse Based on Apache Pulsar
- 待整理视频：https://www.bilibili.com/video/BV1nG41187YS
- PPT 下载地址：https://pan.baidu.com/s/1ov-RDCgEKO3W3QdEA7TscA?pwd=h97g 提取码: h97g
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZFFBUGlKSXFEWkVk
# 注意事项

[2022-08-16 08:55] JipeiWang opened #216 "[ApacheCon Asia] Another Way for Intergrating Pulsar and Lakehouse: Connector for Sinking Pulsar Topic Data into the Lakehouse Storage"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Another Way for Intergrating Pulsar and Lakehouse: Connector for Sinking Pulsar Topic Data into the Lakehouse Storage
- 待整理视频：https://www.bilibili.com/video/BV1dT411L7vP
- PPT 下载地址：https://pan.baidu.com/s/1G5qFYSZ7PhYDs83s6xUn7g?pwd=p2i7 提取码: p2i7
- 整

[2022-08-16 08:57] JipeiWang opened #217 "[ApacheCon Asia] Make Apache Pulsar as Lakehouse: Introduction Lakehouse Tiered Storage Integration for Pulsar"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Make Apache Pulsar as Lakehouse: Introduction Lakehouse Tiered Storage Integration for Pulsar
- 待整理视频：https://www.bilibili.com/video/BV1Sd4y1N7Qq
- PPT 下载地址：https://pan.baidu.com/s/1ycIQxaP-69jBit7humxN2w?pwd=5n2u 提取码: 5n2u
- 整理文档地址：【腾讯文档】https://docs

[2022-08-16 09:00] JipeiWang opened #218 "[ApacheCon Asia] Deep Dive into Apache Pulsar: How Two-Phase Deletion Protocol works between Storage and Metadata"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Deep Dive into Apache Pulsar: How Two-Phase Deletion Protocol works between Storage and Metadata
- 待整理视频：https://www.bilibili.com/video/BV13d4y1m7ZQ
- PPT 下载地址：https://pan.baidu.com/s/1I1pSV5rbu0XZa2Bbacc72w?pwd=mvib 提取码: mvib
- 整理文档地址：【腾讯文档】https://d

[2022-08-16 09:02] JipeiWang opened #219 "[ApacheCon Asia] Get rid of topic metadata limitation for infinite data retention of Apache Pulsar"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Get rid of topic metadata limitation for infinite data retention of Apache Pulsar
- 待整理视频：https://www.bilibili.com/video/BV1kT411L7PH
- PPT 下载地址：https://pan.baidu.com/s/1lZLJCX2OiZBt8jYcBt1BtQ?pwd=8u49 提取码: 8u49
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZF

[2022-08-16 09:04] JipeiWang opened #220 "[ApacheCon Asia] How Kafka-on-Pulsar Integrates with Pulsar Schema to Leverage Pulsar for Kafka Users"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：How Kafka-on-Pulsar Integrates with Pulsar Schema to Leverage Pulsar for Kafka Users
- 待整理视频：https://www.bilibili.com/video/BV1Nd4y1m7zw
- PPT 下载地址：https://pan.baidu.com/s/1wocdB0GB_j7JTFki72yBQg?pwd=i8ac 提取码: i8ac
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/

[2022-08-16 09:05] JipeiWang opened #221 "[ApacheCon Asia] How Load Manager works in Apache Pulsar"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：How Load Manager works in Apache Pulsar
- 待整理视频：https://www.bilibili.com/video/BV1k14y1t7uF
- PPT 下载地址：链接: https://pan.baidu.com/s/1j7QueOMcbLTF1OlII4JeMQ?pwd=nhqy 提取码: nhqy
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZG9FeG55d1BwS3pD
# 注意事项
- 逐字逐句整理后优化口语表达，

[2022-08-16 09:08] JipeiWang opened #222 "[ApacheCon Asia] Enterprise Authentication and Authorization in Apache Pulsar Apache Pulsar"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Enterprise Authentication and Authorization in Apache Pulsar Apache Pulsar
- 待整理视频：https://www.bilibili.com/video/BV18a411o7CW
- PPT 下载地址：https://pan.baidu.com/s/1oSGbWGF7aE2zrUxWVaRNzQ?pwd=gktt 提取码: gktt
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZGl0Wl

[2022-08-16 09:11] JipeiWang opened #223 "[ApacheCon Asia] Use Apache Pulsar Functions in a cloud-native way"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：Use Apache Pulsar Functions in a cloud-native way
- 待整理视频：https://www.bilibili.com/video/BV1SP411j7HH/
- PPT 下载地址：链接: https://pan.baidu.com/s/1Z_AeJRTS_bCO-TLbdan1hQ?pwd=1z9t 提取码: 1z9t
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZG5JT05Nc3NCRXpy
# 注意事项
-

[2022-08-16 09:16] JipeiWang opened #224 "[ApacheCon Asia] 华为终端基于Apache Pulsar的消息队列演进之路"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：华为终端基于Apache Pulsar的消息队列演进之路
- 待整理视频：https://www.bilibili.com/video/BV1rB4y1B7fB
- PPT 下载地址：链接: https://pan.baidu.com/s/1uNatijo8QwLdGKfmka4r2g?pwd=3sbm 提取码: 3sbm
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZE1KWmhFWnN6Slph
# 注意事项
- 逐字逐句整理后优化口语表达，需要包含所有技术

[2022-08-16 09:20] JipeiWang opened #225 "[ApacheCon Asia] BIGO 基于 Pulsar 在高吞吐追赶读场景下的性能优化实践"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：BIGO 基于 Pulsar 在高吞吐追赶读场景下的性能优化实践
- 待整理视频：https://www.bilibili.com/video/BV1zU4y1B7oh
- PPT 下载地址：https://pan.baidu.com/s/1HUx_rwc1c_vo81A0_oAExQ?pwd=kmi4 提取码: kmi4
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZEpEUVRmYk90WGdY
# 注意事项
- 逐字逐句整理后优化口语表达，需要包含所有技术细节

[2022-08-16 09:24] JipeiWang opened #226 "[ApacheCon Asia] How Tencent Applies Apache Pulsar to Apache Inlong"
在 ApacheCon Asia 2022 上，Apache Pulsar 社区成员分享了很多 Pulsar 相关的议题，涵盖用户案例、技术探究、周边生态等多个方向，其中不乏很多首次出现的干货。我们计划将这些演讲视频整理为博客，长期供社区小伙伴们阅读。欢迎认领任务。

# 本篇博客整理
- 标题：How Tencent Applies Apache Pulsar to Apache Inlong
- 待整理视频：https://www.bilibili.com/video/BV1ag411y7A6
- PPT 下载地址：https://pan.baidu.com/s/1kR_37cO2K_4X9brfaME8lA?pwd=i7hd 提取码: i7hd
- 整理文档地址：【腾讯文档】https://docs.qq.com/doc/DZHZmY05IV2tQVFNJ
# 注意事项
- 逐字逐句

[2022-08-16 10:23] #214 closed

[2022-08-16 13:19] guanboo commented on #215
I can do this task.thx！

[2022-08-17 01:04] ethqunzhong commented on #217
i will take this.

[2022-08-17 02:27] NicoleRobin commented on #212
认领

[2022-08-19 08:58] JipeiWang opened #227 "[Translation] Blog: Announcing the Delta Lake Sink Connector for Apache Pulsar"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1JKhHS7zxbI5WhbNPrxB8gssS6hfLEGXul1SMSWyPu5I/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1JKhHS7zxbI5WhbNPrxB8gssS6hfLEGXul1SMSWy

[2022-08-22 23:38] NicoleRobin commented on #212
done, pls help review, tks. @JipeiWang

[2022-08-23 03:07] ethqunzhong commented on #210
LGTM.

[2022-08-23 03:07] ethqunzhong commented on #209
LGTM.

[2022-08-23 08:18] jjnnzb commented on #223
I'd like to have a try, assign me please.

[2022-08-29 04:27] #116 closed

[2022-08-29 04:28] #209 closed

[2022-08-29 05:07] #210 closed

[2022-08-29 05:07] JipeiWang commented on #212
审核中～

[2022-08-30 07:01] JipeiWang opened #228 "2022-08-31: Pulsar China User Group Meeting"
- 想要参加本次会议的小伙伴请直接在评论里盖楼
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn)中留言

## 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
### 会议信息：

- 会议主题：8 月 31 日 Apache Pulsar 中文开发者与用户组会议
- 会议时间：2022/08/31 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dw/misfjBX7W2O4
- 会议 ID：155-177-163
- 会议密码：1234

## 组织方

- StreamNative

## 相关

[2022-09-02 01:18] JipeiWang commented on #228
本期视频：https://www.bilibili.com/video/BV1Qe4y1Z7QT
本期 Q&A：https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn

[2022-09-06 00:21] #117 closed

[2022-09-13 06:11] #119 closed

[2022-09-13 06:12] #212 closed

[2022-09-19 08:59] Sherlock113 commented on #211
@mangoGoForward The translation is being reviewed. Thank you!

[2022-09-19 09:18] mangoGoForward commented on #211
@Sherlock113 Confirmed and improved it

[2022-09-21 09:30] JipeiWang opened #229 "[Translation] Blog: Apache BookKeeper Observability — Part 1 — Introducing the Metrics"
You can directly edit in this docs:
https://docs.google.com/document/d/1bh50AWlon3cA9fJOJ6bfkZ2SMmc4xwVQ9GqprtkEVnQ/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1bh50AWlon3cA9fJOJ6bfkZ2SMmc4xwVQ9GqprtkEVnQ/edit?

[2022-09-21 09:30] #211 closed

[2022-09-21 09:31] JipeiWang commented on #227
Translated and published.

[2022-09-21 09:31] #227 closed

[2022-09-23 08:40] #213 closed

[2022-10-19 05:04] JipeiWang opened #230 "[Translation] Blog: Understanding Pulsar in 10 Minutes: A Guide for Kafka Users"
You can directly edit in this docs:
https://docs.google.com/document/d/1cj0O94KRbnXQ1xeyzxeAPGam6MM9Xq7yuuHZov2DB8c/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！
本次博客翻译文档链接：
https://docs.google.com/document/d/1cj0O94KRbnXQ1xeyzxeAPGam6MM9Xq7yuuHZov2DB8c/edit?

[2022-10-19 05:11] JipeiWang opened #231 "[Translation] Blog: Announcing Spring for Apache Pulsar"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1V-RsaMyiFYr9Gnb5jOqMAMpDfhSGzk64VWohmcsUZ3s/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1V-RsaMyiFYr9Gnb5jOqMAMpDfhSGzk64VWohmcs

[2022-10-19 05:19] JipeiWang opened #232 "[Translation] Blog: The Beauty of Apache Pulsar: Individual Message Acknowledgment"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1hRaGltU3rR5MfpVfcyAyDcSMbjC32vAUN0KlTZ0wr7U/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1hRaGltU3rR5MfpVfcyAyDcSMbjC32vAUN0KlTZ0

[2022-10-19 05:20] JipeiWang opened #233 "[Translation] Blog: A Deep Dive into the Topic Data Lifecycle in Apache Pulsar"
You can directly edit in this gdocs:
https://docs.google.com/document/d/12alNovh4gJXQ7dR_72GhbJm595CUHBSndxrin7KdrTE/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/12alNovh4gJXQ7dR_72GhbJm595CUHBSndxrin7K

[2022-10-19 05:23] JipeiWang opened #234 "[Translation] Blog: A Deep Dive into Transaction Coordinators in Apache Pulsar"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1JAHLNYkWorPGZ1c70uclZCFdtZNhrcKXFKZR7Lja6z4/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1JAHLNYkWorPGZ1c70uclZCFdtZNhrcKXFKZR7Lj

[2022-10-19 05:27] JipeiWang opened #235 "[Translation] Blog: Announcing the Flink-Pulsar SQL Connector"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1MVE10QwyhlkDjdXoFZefeXF3hZ9oygJya_s75LrmA8c/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1MVE10QwyhlkDjdXoFZefeXF3hZ9oygJya_s75Lr

[2022-10-19 05:30] JipeiWang opened #236 "[Translation] Blog: Improving Regular Expression-Based Subscriptions in Pulsar Consumers"
You can directly edit in this gdocs:
https://docs.google.com/document/d/1Qa3xTiakONo9YaC_3_iJh4-JCVf5VhGykAeoE2z5LQU/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1Qa3xTiakONo9YaC_3_iJh4-JCVf5VhGykAeoE2z

[2022-10-19 05:34] JipeiWang opened #237 "[Translation] Blog: How to Migrate from RabbitMQ to Apache Pulsar™"
You can directly edit in this gdocs:
hhttps://docs.google.com/document/d/1TKWxoznXfcsBtDzfGP7AGYr3fd7UFhQkvPWyc477rTg/edit?usp=sharing
#### Please comment and ping us in WeChat group if you take over the task. Many thanks for your contribution and joining the Pulsar community!

---
欢迎小伙伴加入 Pulsar 志愿者团队！🉑️直接在文档上编辑
本次博客翻译文档链接：https://docs.google.com/document/d/1TKWxoznXfcsBtDzfGP7AGYr3fd7UFhQkvPWyc4

[2022-10-19 05:52] complone commented on #234
i want to claim

[2022-10-19 06:09] Radiancebobo commented on #233
领

[2022-10-19 06:25] ethqunzhong commented on #236
i will take this.

[2022-10-19 06:29] AlphaWang commented on #231
认领

[2022-10-19 06:30] AlphaWang commented on #230
认领

[2022-10-19 09:24] dros6 commented on #237
认领翻译

[2022-10-24 06:29] AlphaWang commented on #232
认领

[2022-10-25 07:07] JipeiWang opened #238 "2022-10-26: Pulsar China User Group Meeting"
# 参会方式
腾讯会议
- 途经一：在电脑/手机上打开会议链接即可直接拉起腾讯会议应用/微信小程序入会；
- 途径二：打开腾讯会议客户端，输入会议 ID入会。
## 会议信息：
- 会议主题：10 月 26 日 Apache Pulsar 中文开发者与用户组会议
- 会议时间：2022/10/26 20:00-21:00 (GMT+08:00) 中国标准时间 - 北京
- 腾讯会议：https://meeting.tencent.com/dw/Wa9lPydSadSb
- 会议 ID：905-762-717
- 会议密码：1234
- 有需要讨论、交流的问题请提前在[**会议文档**](https://docs.qq.com/doc/DRmRuZXJJZE5ha2Nn)中留言

## 组织方
- StreamNative

## 相关资料
- 往期开发者与用户会议回顾：https://sp

[2022-10-28 08:30] JipeiWang commented on #230
开始审核～ @AlphaWang 🙏

[2022-10-29 14:33] AlphaWang commented on #231
done

[2022-10-29 14:33] AlphaWang commented on #232
done

[2022-11-02 03:19] AlphaWang commented on #235
认领

[2022-11-04 07:10] JipeiWang commented on #216
Published.

[2022-11-04 07:10] #216 closed

[2022-11-11 06:06] Sherlock113 commented on #232
Thanks @AlphaWang The translation is being reviewed now.

[2022-11-30 06:15] #222 closed

[2022-11-30 10:11] JipeiWang commented on #218
已发布

[2022-11-30 10:11] #218 closed

[2022-11-30 10:13] #114 closed